<h2>KPI Dashboard - Afgelopen maand</h1>

<div class="kpi">
	<h4>Cash</h4>
	<div class="kpi-value"><%= @cash %></div>
</div>
<div class="kpi">
	<h4>Balans</h4>
	<div class="kpi-value">...</div>
</div>
<div class="kpi">
	<h4>Omzet</h4>
	<div class="kpi-value"><%= @revenue %> <%= @profit %></div>
</div>
<div class="kpi">
	<h4>Balanced Score Card</h4>
	<div class="kpi-value"><%= @bsc %></div>
</div>
<div class="kpi">
	<h4>Uren Binnen Projecten</h4>
	<div class="kpi-value"><%= @percentage %></div>
</div>
<div class="kpi">
	<h4>Velocity</h4>
	<div class="kpi-value">...</div>
</div>

<%= @ing %>