<%= form_for [@post, @comment], :html => { :honeypot => true } do |f| %>
  <div class="row">
    <% if @comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

        <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="twelve columns">
      <%= f.text_field :name, :value => "", placeholder: "Naam" %>
    </div>

    <div class="twelve columns">
      <%= f.email_field :email, :value => "", placeholder: "E-mail (wordt niet weergeven)" %>
    </div>

    <div class="twelve columns">
      <%= f.text_area :body, :rows => 6 %>
    </div>
    
    <div class="twelve columns">
      <%= f.submit "Plaats Bericht", class: "button" %>
    </div>

  </div>
<% end %>
