<%= form_for [@post, @comment] do |f| %>
  <div class="row">
    <div class="twelve columns">
      <% if @comment.errors.any? %>
        <div id="error_explanation" class="alert-box alert">
          <h5><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h5>

          <ul>
          <% @comment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <div class="twelve columns">
      <%= f.text_field :name, placeholder: "Naam" %>
    </div>

    <div class="twelve columns">
      <%= f.email_field :email, placeholder: "E-mail (wordt niet weergeven)" %>
    </div>

    <div class="twelve columns">
      <%= f.text_area :body, :rows => 6 %>
    </div>


    <div class="twelve columns">
      <%= captcha_tag %>
    </div>

    <div class="twelve columns">
      <%= f.text_field :captcha, placeholder: "Wat staat hier boven?" %>
    </div>
    
    <div class="twelve columns">
      <%= f.submit "Plaats Bericht", class: "button" %>
    </div>

  </div>
<% end %>
