<%= form_for [@associate, @post, @comment] do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Uw opmerkingen" %><br />
    <%= f.text_area :body, :rows => 6 %>
  </div>
  <div class="field">
    <%= f.label "Naam" %><br />
    <%= f.text_field :name, :value => ""%>
  </div>
  <div class="field">
    <%= f.label "Email" %>
		(wordt niet weergegeven)<br>
    <%= f.text_field :email %><br>
  </div>
 	<div class="sweetness">
   	<%= text_field_tag('its_so_sweet[email]','john@doe.com',:tabindex=>900) %>
   	<%= text_field_tag('its_so_sweet[name]','',:tabindex=>901) %>
   	<%= check_box_tag('its_so_sweet[agree]',1,false,:tabindex=>902) %>
 	</div>  
  <div class="actions">
    <%= f.submit "Plaats Bericht"%>
  </div>
<% end %>
