<h3>Onze mensen</h3>
<% @partners.each do |partner| %>
	<div id="partner-container">
   	<div id="partner-photo">
			<%= image_tag partner.avatar_url.to_s %>
		</div>
		<div id="partner-description">
	    <h4><%= partner.name %></h4>
	    <%= partner.description.html_safe %>
		</div>
		<div style="clear:both"></div>
	</div>
	<div partner-button-container>
		<div class="black-button">
	    <%= link_to 'Info', partner_path(partner) %>
		</div>
		<div class="black-button">
	    <%= link_to 'Bekijk blog', partner_posts_path(partner) %>
		</div>
		<div class="black-button">
	    <%= link_to 'Contact', {:action => "index", :controller => "contact", :to => build_mail_address(partner.name)} %>
		</div>
		<div style="clear:both"></div>
	</div>
	<% if admin_signed_in? %>
   	<%= link_to 'Edit', edit_partner_path(partner) %> | 
   	<%= link_to 'Destroy', partner, confirm: 'Are you sure?', method: :delete %>
	<% end %>
	<% if partner != @partners.last %><hr><% end %>
<% end %>

<br>
<% if admin_signed_in? %>
	<%= link_to 'New Partner', new_partner_path %> | 
<% end %>
