<h3>Onze mensen</h3>
<hr class="small-line">
<% @partners.each do |partner| %>
	<div class="partner-container">
	   	<div class="partner-photo-index inner-shadow lifted">
				<%= image_tag partner.avatar_url(:medium).to_s %>
		</div>
		<div class="partner-description">
			<h4><%= link_to partner.name, partner_path(partner) %></h4>
		    <p><%= partner.description.html_safe %></p>
		</div>
		<div class="partner-button-container">
		<ul>
			<li> <%= link_to 'Bekijk blog', partner_posts_path(partner), :class => "bookman-link" %></li>
		    <li> <%= link_to 'Lees bio', partner_path(partner), :class => "bookman-link" %></li>
		    <li> <%= link_to 'Contact', {:action => "index", :controller => "contact", :to => build_mail_address(partner.name)}, :class => "bookman-link" %></li>
	    	<% if admin_signed_in? %>
					<br>
		   		<li> <%= link_to 'Edit', edit_partner_path(partner), :class => "bookman-link" %></li>
		   		<li> <%= link_to 'Destroy', partner, confirm: 'Are you sure?', method: :delete, :class => "bookman-link" %></li>
			<% end %>
		</ul>
		</div>
	</div>
	<div style="clear:both"><hr></div>
<% end %>

<% if admin_signed_in? %>
	<%= link_to 'New partner', new_partner_path, :class => "bookman-link" %>
<% end %>
