<h3>Onze mensen</h3>
<hr class="small-line">
<% @partners.each do |partner| %>
	<div class="partner-container">
	   	<div class="partner-photo-shadow">
				<%= image_tag partner.avatar_url.to_s %>
		</div>
		<div class="partner-description">
			<h4><%= partner.name %></h4>
		    <p><%= partner.description.html_safe %></p>
		</div>
		<div class="partner-button-container">
		<ul class="bookman bookman-link blue">
			<li> >> <%= link_to 'Bekijk blog', partner_posts_path(partner) %></li>
		    <li> >> <%= link_to 'Lees bio', partner_path(partner) %></li>
		    <li> >> <%= link_to 'Contact', {:action => "index", :controller => "contact", :to => build_mail_address(partner.name)} %></li>
	    	<% if admin_signed_in? %>
					<br>
		   		<li> >> <%= link_to 'Edit', edit_partner_path(partner) %></li>
		   		<li> >> <%= link_to 'Destroy', partner, confirm: 'Are you sure?', method: :delete %></li>
			<% end %>
		</ul>
		</div>
	</div>
	<div style="clear:both"><hr></div>
<% end %>

<% if admin_signed_in? %>
	<%= link_to 'New partner', new_partner_path %>
<% end %>
