<div id="partner-content">

	<h3>Biografie van <%= @partner.name %></h3>
	<hr class="small-line">
	<div id="partner-photo">
		<%= image_tag @partner.avatar_url(:polaroid).to_s %>
	</div>

	<%= @partner.biography.html_safe %>

	<ul>
		<li>
			  <%= link_to 'Bekijk blog', partner_posts_path(@partner), :class => "bookman-link" %>
		</li>
		<li>
				<%= link_to "Contact", {:action => "index", :controller => "contact", :to => build_mail_address(@partner.name)}, :class => "bookman-link" %>
		</li>
	</ul>
	<div style="clear:both"></div>
</div>

<%#if admin_signed_in? %>
	<br><%= link_to 'Edit Partner', edit_partner_path(@partner), :class => "bookman-link admin" %>
<% #end %>

<%= link_to 'Terug', partners_path, :class => "bookman-link" %>
