= link_to "Twitter", "http://twitter.com/#!/dreamyourweb", class: "fc-webicon twitter large"
= link_to "Facebook", "http://www.facebook.com/pages/dreamyourweb/140587376041746", class: "fc-webicon facebook large"
= link_to "Linkedin", "http://nl.linkedin.com/company/dreamyourweb", class: "fc-webicon linkedin large"
= link_to "Skype", "skype:info-dyw?chat", class: "fc-webicon skype large"
= link_to "RSS", blog_feed_path+".rss", class: "fc-webicon rss large"