.social-container
  = link_to "http://twitter.com/#!/dreamyourweb" do
    %i.social.foundicon-twitter.large
  = link_to "http://www.facebook.com/dreamyourweb" do
    %i.social.foundicon-facebook.large
  = link_to "http://nl.linkedin.com/company/dreamyourweb" do
    %i.social.foundicon-linkedin.large
  = link_to "skype:info-dyw?chat" do
    %i.social.foundicon-skype.large
  = link_to blog_feed_path+".rss" do
    %i.social.foundicon-rss.large
  %div{:style => "clear:both;"}
