<h3>Laatste blogposts</h3>
<hr class="small-line">
<% @posts.each do |post| %>
	<% if !post.partner.nil? %>
		<div class="sidebar-post">
			<%= image_tag post.partner.avatar_url(:thumb).to_s %>
			<h4><%= post.title %></h4>
			<p><%= post.partner.name %><br>
			<%= post.updated_at.to_date.to_s %></p>
			<div style="clear:both"></div>
			<%= post.excerpt.html_safe %><br><br>
			<div class='read-more'>
				<%= link_to ">> Lees meer", partner_post_path(post.partner, post) %>
			</div>
		</div>
		<hr>
	<% end %>
<% end %>
