<h3>Laatste blogposts</h3>
<hr class="small-line">
<% @posts.each do |post| %>
	<% if !post.partner.nil? %>
		<div class="sidebar-post">
			<div class="sidebar-post-image inner-shadow lifted shadow-small">
			<%= image_tag post.partner.avatar_url(:small).to_s %></div>
			<div class="sidebar-post-header">
				<h4><%= post.title %></h4>
				<p class="bookman"><%= post.partner.name %></p>
				<p class="bebas"><%= post.updated_at.to_date.to_s %></p>
			</div>
			<div style="clear:both"></div>
			<%= post.excerpt.html_safe %><br><br>
			<div class='read-more bookman'>
				>> <%= link_to "Lees meer", partner_post_path(post.partner, post) %>
			</div>
		</div>
		<hr>
	<% end %>
<% end %>
<div id="tweet-panel">
	<% if !@lasttweet.nil? %>
		<div id="tweet-caption">
			<h3><a href="https://twitter.com/#!/dreamyourweb">Laatste tweet</a></h3>
		</div>
		<hr class="small-line">
		<div id="last-tweet" class="bookman">
			<%= @lasttweet %>
		</div>
	<% end %>
</div>
