<h3>Laatste blogposts</h3>
<hr class="small-line">
<% if !@post.nil? %>
		<% if !@post.associate.nil? %>
			<div class="sidebar-post">
				<div class="sidebar-post-image inner-shadow lifted shadow-small">
				<%= image_tag @post.associate.avatar_url(:small).to_s %></div>
				<div class="sidebar-post-header">
					<h4><%= @post.title %></h4>
					<h5 class="bookman"><%= @post.associate.name %></h5>
					<h5 class="bebas"><%= @post.updated_at.to_date.to_s %></h5>
				</div>
				<div style="clear:both"></div>
				<%= @post.excerpt.html_safe %>
				<div class='read-more'>
					<%= link_to "Lees meer", associate_post_path(@post.associate, @post), :class => "bookman-link" %>
				</div>
				<div style="clear:both"></div>
			</div>
		<% end %>
<% end %>	
<div id="tweet-panel">
	<div id="tweet-caption">
		<h3><a href="https://twitter.com/#!/dreamyourweb">Laatste tweet</a></h3>
	</div>
	<hr class="small-line">
	<div class="bookman tweet">
	</div>
	<hr>
</div>
