<div id="home-strip">
	<div id="home-banner-container">
		<div id="home_banner_web" class="home-banner-element">
			<div class ="banner-element-content">
				<div class = "banner-element-text">
					<h2>WEB DEVELOPMENT</h2>
					<span class="bookman"><%= manageable_layout_content_for :web_slide %></span>
						<%= link_to sub_menu_item('Lees meer', 'webdevelopment'), products_webdevelopment_path, :class => "bookman-link" %>
				</div>
				<div id = "web-image" class = "banner-element-image"></div>
			</div>
		</div>
		<div id="home_banner_concept" class="home-banner-element">
			<div class ="banner-element-content">
				<div class = "banner-element-text">
					<h2>CONCEPT DEVELOPMENT</h2>
					<span class="bookman"><%= manageable_layout_content_for :concept_slide %></span>
						<%= link_to sub_menu_item('Lees meer', 'concept_development') , products_concept_development_path, :class => "bookman-link" %>
				</div>
				<div id = "concept-image" class = "banner-element-image"></div>
			</div>
		</div>
		<div id="home_banner_mobile" class="home-banner-element">
			<div class ="banner-element-content">
				<div class = "banner-element-text">
					<h2>MOBILE DEVELOPMENT</h2>
					<span class="bookman"><%= manageable_layout_content_for :mobile_slide %></span>
						<%= link_to sub_menu_item('Lees meer', 'mobile'), products_mobile_path, :class => "bookman-link" %>
				</div>
				<div id = "mobile-image" class = "banner-element-image"></div>
			</div>	
		</div>
		<div id="home_banner_invite2eat" class="home-banner-element">
			<div class ="banner-element-content">
				<div class = "banner-element-text">
					<h2>Invite 2 eat</h2>
					<p class="bookman">In samenwerking met Invite2Eat ontwikkelden wij een website waarmee mensen zich kunnen inschrijven voor een culinaire netwerkavond. Wij hebben meegedacht over de ontwikkeling van de wesite en onder andere het betaalsysteem geimplementeerd. Zodat mensen niet alleen met een volle maag, maar ook vol goede ideeen het restaurant weer verlaten.</p>
						<a href="/projects/invite2eat class=", class="bookman-link">Lees meer</a>
				</div>
				<div id = "invite2eat-image" class = "banner-element-image"></div>
			</div>	
		</div>
	</div>
	<div id ="home-banner-bullets">
		<ul>
			<li class="bullet active-bullet"></li>
			<li class="bullet"></li>
			<li class="bullet"></li>
			<li class="bullet"></li>
		</ul>
	</div>
</div>
<div style="clear:both"></div>
<%= render 'layouts/sub_navigation' %>
