- markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, {:fenced_code_blocks => true})

- content_for(:header) do
  .container#dreamteam-header
    .row
      .twelve.columns
        %h1.super
          %span.big-ass= mercury_content_for :UVP_line_1, :simple
          %span.big-ass= mercury_content_for :UVP_line_2, :simple
        %h1.super
          %span.sub-uvp= mercury_content_for :sub_UVP_line_1, :simple
          %span.sub-uvp= mercury_content_for :sub_UVP_line_2, :simple
          %span.sub-uvp= mercury_content_for :sub_UVP_line_3, :simple
          %span.sub-uvp= mercury_content_for :sub_UVP_line_4, :simple

.container.home#we-do-this
  / .row
  /   .twelve.columns
  /     %h2= mercury_content_for :products_header, :simple
  /     %h2.subheader
  /       %small Wij kunnne je helpen met je innovatieve idee van A tot Z te brengen.
  .row
    .twelve.columns
      %ul.block-grid.three-up.mobile-three-up
        %li
          = link_to products_path(:anchor => "innovation") do
            = image_tag("service-innovation.png")
            %h4 Innovatie consultancy
          %p Wij ondersteunen je in het innovatie traject
        %li
          = link_to products_path(:anchor => "development") do
            = image_tag("service-development.png")
            %h4 Software ontwikkeling
          %p Maatwerk web-apps en mobiele-apps
        %li
          = link_to products_path(:anchor => "workshop") do
            = image_tag("service-workshop.png")
            %h4 Lean innovatie workshops
          %p Leer om lean een succesvol product te ontwikkelen

.container.home#manifesto
  .row
    .eight.columns
      %h2= mercury_content_for :manifesto_header, :simple
      %h2.subheader
        %small Wij houden van gave dingen maken.
      = mercury_content_for :manifesto_body
      = link_to "Lees meer over ons", associates_path, :class => "button"
    .four.columns
      = image_tag "dywmoon_200x200.png", class: "dyw-moon"

.container.home#projects-container-home
  .row
    .twelve.columns
      %h3= mercury_content_for :portfolio_header, :simple
      %h3.subheader
        %small Neem een kijkje naar de geweldige projecten die we hebben gedaan.
  .row
    .twelve.columns
      %ul.block-grid.three-up.mobile-three-up
        = render :partial => "project", :collection => @projects

.container.home.last#partner-logos
  .row
    .twelve.columns
      .panel
        %h2.subheader
          %small= mercury_content_for :partners_header, :simple
        %ul.block-grid.four-up.mobile-three-up
          - if !@partners.nil?
            = render :partial => 'partner_logo', :collection => @partners, :as => :partner


.container.home#home-live
  / .row
  /   .twelve.columns
  /     %h2 dreamyourweb live
  /     %h2.subheader
  /       %small Wat houd ons nu bezig?
  .row
    .six.columns
      .panel.twitter
        / %i.foundicon-star
        %h5.subheader Twitter
        #tweets
    .six.columns
      .panel.blog
        / %i.foundicon-star
        %h5.subheader Blog
        =link_to post_path(@post) do
          %h4= @post.title
        = markdown.render(@post.excerpt).html_safe