<%= #abkiss("landing_page", "original", "new_copy") 
%>

<div id="home-content">
	<h3>Het complete pakket van advies, ontwikkeling en optimalisatie</h3>
	<hr class="small-line">
	<%= manageable_layout_content_for :body %>
</div>
<% if !@project.nil? %>
<hr>
<div class="featured">
	<div class="featured-image inner-shadow lifted">
		<%= link_to image_tag(@project.picture_url.to_s), project_path(@project) %>
	</div>
	<div class="excerpt-container">
		<div class="excerpt">
			<h4><%= link_to "Ons laatste project", project_path(@project)%></h4>
			<%= @project.excerpt.html_safe %>
		</div>
		<div class="read-more-top"><%= link_to "Lees meer", project_path(@project), :class => "bookman-link" %></div>
	</div>
</div>
<% end %>

<hr>

<div class="featured">
	<div class="excerpt-container dreamteam">
		<div class="excerpt"><h4><%= link_to "Onze overtuiging", partners_path%></h4>
			<%= manageable_layout_content_for :dreamteam %>
		</div>
	</div>
	<div>
		<div class="dreamteam-img inner-shadow lifted">
			<%= link_to image_tag("dywgroup.jpg"), partners_path %>
		</div>
		<div class="read-more-bottom"><%= link_to "Lees meer", partners_path, :class => "bookman-link" %></div>
	</div>

</div>
<hr>





