<div class='content'>
	<div id='home-left'>
		<div id="home-content">
		  <%= abkiss("landing_page", "original", "new_copy") %>
		</div>
		<% if !@project.nil? %>
		<hr>
		<div class="featured">
			<div class="featured-image inner-shadow lifted">
				<%= link_to image_tag(@project.picture_url.to_s), project_path(@project) %>
			</div>
			<div class="excerpt-container">
				<div class="excerpt">
					<h4><%= link_to "Ons laatste project", project_path(@project)%></h4>
					<%= @project.excerpt.html_safe %>
				</div>
				<div class="read-more-top"><%= link_to "Lees meer", project_path(@project), :class => "bookman-link" %></div>
			</div>
		</div>
		<% end %>

		<hr>

		<div class="featured">
			<div class="excerpt-container dreamteam">
				<div class="excerpt"><h4><%= link_to "Onze overtuiging", associates_path%></h4>
					<%= mercury_content_for :dreamteam %>
				</div>
			</div>
			<div>
				<div class="dreamteam-img inner-shadow lifted">
					<%= link_to image_tag("leancar.jpg"), associates_path %>
				</div>
				<div class="read-more-bottom"><%= link_to "Lees meer", associates_path, :class => "bookman-link" %></div>
			</div>
		</div>
		<hr>
	</div>
<div id="sidebar-right">
	<%= render "sidebar" %>
</div>
<div style="clear:both"></div>
<div class="partner-logos">
	<h3>Onze partners</h3>
	<ul>
		<% if !@partners.nil? %>
			<%= render :partial => 'partner_logo', :collection => @partners, :as => :partner %>
		<% end %>
	</ul>
</div>