
/ #home-left
/   #home-content
/     = abkiss("landing_page", "original", "new_copy")
/   - if !@project.nil?
/     %hr
/       .featured
/         .featured-image.inner-shadow.lifted
/           = link_to image_tag(@project.picture_url.to_s), project_path(@project)
/         .excerpt-container
/           .excerpt
/             %h4= link_to "Ons laatste project", project_path(@project)
/             = @project.excerpt.html_safe
/           .read-more-top= link_to "Lees meer", project_path(@project), :class => "bookman-link"
/   %hr
/     .featured
/       .excerpt-container.dreamteam
/         .excerpt
/           %h4= link_to "Onze overtuiging", associates_path
/           = mercury_content_for :dreamteam
/       %div
/         .dreamteam-img.inner-shadow.lifted
/           = link_to image_tag("dreamteam.png"), associates_path
/         .read-more-bottom= link_to "Lees meer", associates_path, :class => "bookman-link"
/     %hr
/ #sidebar-right
/   = render "sidebar"
/ %div{:style => "clear:both"}
#projects-container
  .container
    .row
      %h2= mercury_content_for :portfolio_header, :simple
  = render :partial => "project", :collection => @projects
#manifesto
  .container
    .row
      .columns8
        %h2= mercury_content_for :manifesto_header, :simple
        = mercury_content_for :manifesto_body
        = link_to "Lees meer over ons", associates_path, :class => "button-clean"
      .columns4.last
        = image_tag "dywmoon_200x200.png", class: "dyw-moon"

#partner-logos
  .container
    .row
      %h2= mercury_content_for :partners_header, :simple
  %ul
    - if !@partners.nil?
      = render :partial => 'partner_logo', :collection => @partners, :as => :partner
%span.has-tip{"data-width" => "210", :title => "Bottom and the default position."}

- content_for(:full) do
  #dreamteam-header
    .container
      .row
        %h1
          %span.big-ass= mercury_content_for :UVP_line_1, :simple
          %span.big-ass.move-dpwn= mercury_content_for :UVP_line_2, :simple
        %h1
          %span.subheader= mercury_content_for :sub_UVP_line_1, :simple
          %span.subheader= mercury_content_for :sub_UVP_line_2, :simple
          %span.subheader= mercury_content_for :sub_UVP_line_3, :simple
          %span.subheader= mercury_content_for :sub_UVP_line_4, :simple

  #we-do-this
    .container
      .row
        %h2= mercury_content_for :products_header, :simple
        .columns4
          .product.innovation
            = link_to products_path(:anchor => "innovation") do
              = image_tag("service-innovation.png")
              %h3 Innovatie consultancy
            %p Wij ondersteunen je in het innovatie traject
        .columns4
          .product.development
            = link_to products_path(:anchor => "development") do
              = image_tag("service-development.png")
              %h3 Software ontwikkeling
            %p Maatwerk web-apps en mobiele-apps
        .columns4.last
          .product.workshop
            = link_to products_path(:anchor => "workshop") do
              = image_tag("service-workshop.png")
              %h3 Lean innovatie workshops
            %p Leer om lean een succesvol product te ontwikkelen


