- markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, {:fenced_code_blocks => true})

- content_for(:header) do
  .container#dreamteam-header
    .row
      .twelve.columns
        %h1.super
          %span.big-ass Wij maken next-gen
          %span.big-ass data applicaties
        %h1.super
          %span.sub-uvp Dreamyourweb is een team van wetenschappers. Wij bouwen maatwerk
          %span.sub-uvp applicaties, die gericht zijn op het omgaan met data.
          %span.sub-uvp We richten ons daarbij op drie nauwverwante thema's.

.container.home#we-do-this
  / .row
  /   .twelve.columns
  /     %h2= mercury_content_for :products_header, :simple
  /     %h2.subheader
  /       %small Wij kunnne je helpen met je innovatieve idee van A tot Z te brengen.
  .row
    .four.columns
      = link_to products_path(:anchor => "datastromen") do
        = image_tag("service-innovation.png")
        %h4 Inzicht in complexe datastromen
      %p Als beslisser is het soms lastig om wegwijs te worden in alle gegevens die op je afkomen. Zeker in een moderne constant veranderlijke omgeving. Wij denken en structureren met je mee, om samen tot een overzichtelijke applicatie te komen dat complexe datastromen inzichtelijk maakt.
    .four.columns
      = link_to products_path(:anchor => "kennis") do
        = image_tag("service-development.png")
        %h4 Nieuwe kennis vergaren
      %p Blijven leren is voor de meeste instellingen en bedrijven van levensbelang. Of het nu gaat over je doelgroep of een wetenschappelijk onderzoek. Wij bezitten verschillende tools om snel, betrouwbaar en op locatie nieuwe data te verzamelen. Zo kun je op basis van harde gegevens je conclusies trekken en koers bepalen.
    .four.columns
      = link_to products_path(:anchor => "optimalisatie") do
        = image_tag("service-workshop.png")
        %h4 Optimalisatie van kennis, kunde en resources
      %p Als je met veel verschillende databronnen werkt, kan het lastig zijn om alles optimaal te stroomlijnen. We hebben verschillende gereedschappen in ons bezit om kennis, kunde en resources uit verschillende hoeken met elkaar te verbinden. Hierbij staat bij ons maatschappelijk ondernemerschap hoog in het vaandel. 

.container.home#projects-container-home
  .row
    .twelve.columns
      %h3 Onze meest recente projecten
      %h3.subheader
        %small Neem een kijkje in de innovatieve projecten die we recentelijk hebben gedaan.
  .row
    = render :partial => "project", :collection => @projects

.container.home#manifesto
  .row
    .eight.columns
      %h2 Een jong en dynamisch team
      %h2.subheader
        %small Om samen gave dingen mee te maken
      %p Om een goed product te bouwen heb je zowel kennis van de markt en bedrijfscontext nodig, als kennis over design en techniek. Wij presteren het best als technische partner. We maken daarom ook graag even persoonlijk kennis!
      = link_to "Lees meer over ons", associates_path, :class => "button"
    .four.columns
      = image_tag "dywmoon_200x200.png", class: "dyw-moon"

.container.home.last#partner-logos
  .row
    .twelve.columns
      .panel
        %h2.subheader
          %small= mercury_content_for :partners_header, :simple
        %ul.block-grid.four-up.mobile-three-up
          - if !@partners.nil?
            = render :partial => 'partner_logo', :collection => @partners, :as => :partner


/ .container.home#home-live
/   / .row
/   /   .twelve.columns
/   /     %h2 dreamyourweb live
/   /     %h2.subheader
/   /       %small Wat houd ons nu bezig?
/   .row
/     .six.columns
/       .panel.twitter
/         / %i.foundicon-star
/         %h5.subheader Twitter
/         #tweets
/     .six.columns
/       .panel.blog
/         / %i.foundicon-star
/         %h5.subheader Blog
/         =link_to post_path(@post) do
/           %h4= @post.title
/         = markdown.render(@post.excerpt).html_safe
