<div id="home-content">
	<h3>Wij zijn dreamyourweb</h3>
	<hr class="small-line">
	<%= manageable_layout_content_for :body %>
</div>

<% if !@project.nil? %>
<hr>
<div class="featured">
<div class="featured-image inner-shadow lifted">
	<%= link_to image_tag(@project.picture_url.to_s), path_to_category(@project) %>
</div>
<div class="excerpt-container">
	<div class="excerpt">
	<h4>Featured project</h4>
	<%= @project.excerpt.html_safe %>
	</div>
	<div class="read-more bookman blue">>> <%= link_to "Lees meer", project_path(@project) %></div>
	</div>
</div>
<% end %>

<hr>

<div class="featured">
	<% if !@project.nil? %>
		<!-- <div class="feature-shadow dreamteam-img">
			< # = link_to image_tag(@project.picture_url.to_s), path_to_category(@project) %>
		</div> -->
	<% end %>
	<div class="excerpt-container dreamteam">
		<div class="excerpt"><h4>Het Dream Team</h4>
			<%= manageable_layout_content_for :dreamteam %>
		</div>
		<div class="read-more bookman blue">>> <%= link_to "Lees meer", partners_path %></div>
	</div>

</div>
<hr>





