<!-- Start of first page: #one -->
<div data-role="page" id="foo">


	<div data-role="header" id="header" data-theme="d">
		<%= image_tag "banner.png", alt: "dreamyourweb" %>
    <div data-role="navbar" data-theme="b">
      <ul>
      <li><a href="#home" data-role="button" data-theme="b"><%= image_tag "dyw-home@2x.png", alt: "Home" %>Home</a></li>
      <li><a href="#portfolio" data-role="button" data-theme="b"><%= image_tag "dyw-briefcase@2x.png", alt: "Wat" %>Wat</a></li>
      <li><a href="#werkwijze" data-role="button" data-theme="b"><%= image_tag "dyw-lab@2x.png", alt: "Hoe" %>Hoe</a></li>
      <li><a href="#about" data-role="button" data-theme="b"><%= image_tag "dyw-about@2x.png", alt: "Wie" %>Wie</a></li>
      <li><a href="#contact" data-role="button" data-theme="b"><%= image_tag "dyw-chat@2x.png", alt: "Contact" %>Contact</a></li>
      </ul>
    </div>
	</div><!-- /header -->

	<div data-role="content" id="home">	
  <fieldset class="ui-grid-a">
	<div class="ui-block-a"><a href="tel:06-44112351" rel="external" data-role="button" data-icon="dyw-phone" data-theme="a">Bel ons</a> </div>
	<div class="ui-block-b"><a href="#contact" data-role="button" data-icon="dyw-chat" data-theme="a" data-transition="pop">Contact</a></div>	   
</fieldset>
<p><b>dream</b>your<b>web</b> is een <a href="#about">jong bedrijf</a> dat websites ontwerpt, ontwikkelt en meedenkt over uw internet marketing strategie. Dankzij onze effectieve <a href="#werkwijze">werkwijze</a> helpen we u het beste te halen uit de kansen die het internet biedt voor uw bedrijf.</p><br>	

<p>Een overzicht van onze klanten en ons werk vind u in het <a href="#portfolio">portfolio</a>. Wilt u weten hoe <b>dream</b>your<b>web</b> u kan helpen uw bedrijf op de markt te zetten, neem dan vrijblijvend <a href="#contact">contact</a> met ons op via ons contactformulier of <a href="tel:06-44112351" rel=external>bel ons</a>.</p><br>

<p>Dit is een mobiele website. In ons <a href="#portfolio">portfolio</a> vindt u meer informatie over mobiele websites van <b>dream</b>your<b>web</b>. Wilt u onze standaard website zien, klik dan <%= link_to "hier", full_path, {:rel => "external", "data-theme" => "b"} %>.</p>
   

</div><!-- /content -->

	
	<div data-role="footer" data-theme="d" id="footer">
  		dreamyourweb 2011
	</div><!-- /footer -->
</div><!-- /page one -->


<!-- Start of second page: #portfolio -->
<div data-role="page" id="portfolio">

<div data-role="header" id="header">
		<%= image_tag "/images/banner.png", alt: "dreamyourweb" %>
    <div data-role="navbar" data-theme="a">
      <ul>
      <li><a href="#home" data-role="button" data-icon="dyw-home" data-icon-pos="top">Home</a></li>
      <li><a href="#portfolio" data-role="button" data-icon="dyw-briefcase" data-icon-pos="top">Wat</a></li>
      <li><a href="#werkwijze" data-role="button" data-icon="dyw-lab" data-icon-pos="top">Hoe</a></li>
      <li><a href="#about" data-role="button" data-icon="dyw-about" data-icon-pos="top">Wie</a></li>
      <li><a href="#contact" data-role="button" data-icon="dyw-chat" data-icon-pos="top">Contact</a></li>
      </ul>
    </div>
	</div><!-- /header -->

	<div data-role="content">	
		<h2>Portfolio</h2>
		<p>Dit is ons werk.</p>	
<div>
			<ul data-role="listview" data-split-icon="arrow-r" data-split-theme="a">
			<li><a href="#ortel" data-rel="dialog">
				<img src="images/thumb-ortel.jpg" />
				<h3>iphonemaken.nl</h3>
				<p>Meer informatie</p>
			</a></a><a href="http://www.iphonemaken.nl">Purchase album
			</a></li>
			<li><a href="#ruudvandoorn" data-rel="dialog">
				<img src="images/ruud.png" />
				<h3>ruudvandoorn</h3>
				<p>Meer informatie</p>
			</a></a><a href="http://www.ruudvandoorn.com">Purchase album
			</a></li>
		</ul>
</div>
	</div><!-- /content -->

	<div data-role="footer" data-theme="d" data-position="fixed">
	</div><!-- /footer -->
</div><!-- /portfolio -->

<!-- Start of third page: #werkwijze -->
<div data-role="page" id="werkwijze">

<div data-role="header" id="header">
		<%= image_tag "/images/banner.png", alt: "dreamyourweb" %>
    <div data-role="navbar" data-theme="a">
      <ul>
      <li><a href="#home" data-role="button" data-icon="dyw-home" data-icon-pos="top">Home</a></li>
      <li><a href="#portfolio" data-role="button" data-icon="dyw-briefcase" data-icon-pos="top">Wat</a></li>
      <li><a href="#werkwijze" data-role="button" data-icon="dyw-lab" data-icon-pos="top">Hoe</a></li>
      <li><a href="#about" data-role="button" data-icon="dyw-about" data-icon-pos="top">Wie</a></li>
      <li><a href="#contact" data-role="button" data-icon="dyw-chat" data-icon-pos="top">Contact</a></li>
      </ul>
    </div>
	</div><!-- /header -->

	<div data-role="content">	
		<h2>Werkwijze</h2>
		<p>Hier komt onze werkwijze.</p>	
		<p><b>dream</b>your<b>web</b> richt zich op het ontwerpen en bouwen van websites en mobiele webapplicaties. Daarnaast denken we met u mee over het marketen van uw product. We leveren websites en applicaties op maat, die perfect aansluiten op de strategie die u heeft gekozen. Via het internet kunt u grote groepen mensen snel bereiken, wij helpen u met innovatieve marketing deze mensen aan te spreken.</p><br>

<p>Onze werkwijze rust op
<ul>
<li>Duidelijk contact met de klant</li>
<li>Heldere afspraken</li>
<li>Een creatieve invalshoek</li>
<li>Gebruik van de nieuwste technieken</li>
</ul></p>
	
	
	</div><!-- /content -->

	<div data-role="footer" data-theme="d" data-position="fixed">
	</div><!-- /footer -->
</div><!-- /werkwijze -->

<!-- Start of third page: #about -->
<div data-role="page" id="about">

<div data-role="header" id="header">
		<%= image_tag "/images/banner.png", alt: "dreamyourweb" %>
    <div data-role="navbar" data-theme="a">
      <ul>
      <li><a href="#home" data-role="button" data-icon="dyw-home" data-icon-pos="top">Home</a></li>
      <li><a href="#portfolio" data-role="button" data-icon="dyw-briefcase" data-icon-pos="top">Wat</a></li>
      <li><a href="#werkwijze" data-role="button" data-icon="dyw-lab" data-icon-pos="top">Hoe</a></li>
      <li><a href="#about" data-role="button" data-icon="dyw-about" data-icon-pos="top">Wie</a></li>
      <li><a href="#contact" data-role="button" data-icon="dyw-chat" data-icon-pos="top">Contact</a></li>
      </ul>
    </div>
	</div><!-- /header -->

	<div data-role="content">	
    <h2>Over ons</h2>
		<ul data-role="listview">
			<li><a href="index.html">
				<%= image_tag "luc.png", alt: "Luc" %>
				<h3>Luc</h3>
				<p>luc@dreamyourweb.nl</p>

			</a></li>
			<li><a href="index.html">
				<%= image_tag "jelmer.png", alt: "Jelmer" %>
				<h3>Jelmer</h3>
				<p>jelmer@dreamyourweb.nl</p>
			</a></li>
			<li><a href="index.html">
				<%= image_tag "andres.png", alt: "Andres" %>

				<h3>Andres</h3>
				<p>andres@dreamyourweb.nl</p>
			</a></li>
			<li><a href="index.html">
				<%= image_tag "thijs.png", alt: "Thijs" %>
				<h3>Thijs</h3>
				<p>thijs@dreamyourweb.nl</p>

			</a></li>
			<li><a href="index.html">
				<%= image_tag "roel.png", alt: "Roel" %>
				<h3>Roel</h3>
				<p>roel@dreamyourweb.nl</p>
			</a></li>

			<li><a href="index.html">
				<%= image_tag "bram.png", alt: "Bram" %>
				<h3>Bram</h3>
				<p>bram@dreamyourweb.nl</p>
			</a></li>
		</ul>
	</div><!-- /content -->

	<div data-role="footer" data-theme="d" data-position="fixed">
	</div><!-- /footer -->
</div><!-- /about -->

<!-- Start of fourth page: #contact -->
<div data-role="page" id="contact">
<div data-role="header" id="header">
		<%= image_tag "/images/banner.png", alt: "dreamyourweb" %>
    <div data-role="navbar" data-theme="a">
      <ul>
      <li><a href="#home" data-role="button" data-icon="dyw-home" data-icon-pos="top">Home</a></li>
      <li><a href="#portfolio" data-role="button" data-icon="dyw-briefcase" data-icon-pos="top">Wat</a></li>
      <li><a href="#werkwijze" data-role="button" data-icon="dyw-lab" data-icon-pos="top">Hoe</a></li>
      <li><a href="#about" data-role="button" data-icon="dyw-about" data-icon-pos="top">Wie</a></li>
      <li><a href="#contact" data-role="button" data-icon="dyw-chat" data-icon-pos="top">Contact</a></li>
      </ul>
    </div>
	</div><!-- /header -->

	<div data-role="content">	
		<p>Neem contact met ons op.</p>	
		<p></p>	
		<form action="#" method="get">
			<div data-role="fieldcontain">
	         <label for="name">Uw e-mailadres of telefoonnummer</label>
	         <input type="text" name="name" id="name" value=""  />
			<label for="textarea">Bericht</label>
			<textarea cols="40" rows="8" name="textarea" id="textarea"></textarea>
	  	<button type="submit" data-theme="a" name="submit" value="submit-value">Versturen</button>
			</div>
    </form>
	</div><!-- /contact -->

	<div data-role="footer" data-theme="d" data-position="fixed">
	</div><!-- /footer -->
</div><!-- /contact -->



<!-- Hieronder alle projecten -->

<!-- Start of third page: #popup -->
<div data-role="page" id="ortel" class="project">

	<div data-role="header" data-theme="a">
		<h1>Project</h1>

	</div><!-- /header -->

	<div data-role="content" data-theme="d">	
		<h2>Popup</h2>
		<p>I have an id of "popup" on my page container and only look like a dialog because the link to me had a <code>data-rel="dialog"</code> attribute which gives me this inset look and a <code>data-transition="pop"</code> attribute to change the transition to pop. Without this, I'd be styled as a normal page.</p>		
		<p><a href="#one" data-rel="back" data-role="button" data-inline="true" data-icon="back">Back to page "one"</a></p>	
		<h2>iphonemaken.nl</h2>
		<h3>Opdrachtgever</h3>
		<p>Ortel telecom uit Eindhoven verkoopt en herstelt smartphones.</p>
		<h3>Omschrijving</h3>
		<p>Voor dit project hebben we gebruik gemaakt van Ruby on Rails. </p>	
<img src="images/thumb-ortel.jpg" />
		<p><a href="#portfolio" data-rel="back" data-role="button" data-inline="true" data-icon="back">Portfolio</a></p>	

	</div><!-- /content -->

	
	<div data-role="footer">
	</div><!-- /footer -->
</div><!-- /page popup -->


<div data-role="page" id="ruudvandoorn" class="project">

	<div data-role="header" data-theme="a">
		<h1>Project</h1>

	</div><!-- /header -->

	<div data-role="content" data-theme="d">	
		
		<h2>ruudvandoorn.com</h2>
		<h3>Opdrachtgever</h3>
		<p>Ruud van Doorn retouchert foto's.</p>
		<h3>Omschrijving</h3>
		<p>Voor dit project hebben we gebruik gemaakt van Ruby on Rails.</p>	
<img src="images/ruud.png" />
		<p><a href="#portfolio" data-rel="back" data-role="button" data-inline="true" data-icon="back">Portfolio</a></p>	

</div><!-- /page popup -->
