<div class="project_container">
	<div class="image-shadow-container">
		<div class="image_container">
	 		<%= link_to image_tag(project.picture_url(:portfolio_full).to_s), project_path(project) %>
	 		<%= link_to "LEES MEER", project_path(project), :class => "image_overlay bookman" %>
		</div>

	</div>
	<div class="project-description">
		<h4><%= link_to(project.title, project_path(project))%></h4>
		<% if admin_signed_in? %>
  	  <%= link_to 'Edit', edit_project_path(project) %> / 
  	  <%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %><br>
		<% end %>
		<div class="excerpt-container">
  		<%= project.excerpt.html_safe %>
		</div><br>
		<div class="read-more-portfolio">		
			 <!-- link_to ("Lees meer over " + project.category.downcase), path_to_category(project) -->
			 <%= link_to ("Lees meer"), path_to_category(project) %>
		</div>
	</div> 
</div>
<% if (project_counter + 1) % 3 == 0 %>
	<div style="clear:both"><hr></div>
<% end %>

