<div class="moveable <%=project.category.to_url%>">
 	<%= image_tag(project.picture_url(:portfolio_full).to_s) %>
	<div class="project-description">
		<p><%= project.category + ':'%></p>
		<h4><%= link_to project.external_url, 'http://' + project.external_url.to_s, :target => "_blank" %></h4>
		<% if admin_signed_in? %>
  	  <%= link_to 'Edit', edit_project_path(project) %> / 
  	  <%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %><br>
		<% end %>
  	<p><%= project.excerpt.html_safe %> - <%= link_to ("Lees meer over onze " + project.category.downcase + " aanpak..."), path_to_category(project) %></p>
	</div> 
	<div style="clear:both"></div>
</div>
