%li
  .project-container{id: project.title.parameterize, 'data-magellan-destination'=>project.title.parameterize}
    %h6 #{project.project_type}
    .project-image
      = link_to project_path(project) do
        = image_tag(project.picture_url(:tablet).to_s)
    .project-description
      %h4= link_to(project.title, project_path(project))
      - if admin_signed_in?
        = link_to 'Edit', edit_project_path(project), :class => 'admin'
        = link_to 'Destroy', project, :class => 'admin', confirm: 'Are you sure?', method: :delete
      .excerpt-container
        #{project.excerpt.html_safe}
