<div id="portfolio-sidebar">
	<h4>
		<% if !@previous_project.nil? %>
			<%= link_to "<< ", project_path(@previous_project), :class => "arrow" %>
		<% end %>
		<%= @project.title %>
		<% if !@next_project.nil? %>
			<%= link_to " >>", project_path(@next_project), :class => "arrow" %>
		<% end %>
	</h4>
	<hr class="small-line">
	<% if !@project.external_url.empty? %>
		<%= link_to "Bekijk de website", "http://" + @project.external_url.to_s, :target => "_blank", :class => "bookman-link" %>
	<% else %>
		<p>Deze website is momenteel nog in ontwikkeling en dus nog niet publiekelijk toegankelijk.<p>
	<% end %>
	<hr>
	<h5>Datum</h5>
	<p class="bookman"><%= @project.created_at.to_date %></p>
	<hr>
	<p><%= @project.body.html_safe %></p>
	<hr>
		<%= link_to "Ga terug naar overzicht", projects_path, :class => "bookman-link" %>
	<% if admin_signed_in? %>
		<span class="admin"><br><br></span>
		<%= link_to "Edit Project", edit_project_path(@project), :class => "bookman-link admin" %>
	<% end %>
</div>
