<div id="strip">
	<div class="content">
		<div id="strip-content">	
			<h1>Portfolio</h1>
			<div id="categories-navigation">
				<%= link_to sub_menu_item('Webdevelopment', 'webdevelopment') + ' / ', projects_webdevelopment_path %>
				<%= link_to sub_menu_item('Concept development', 'concept_development') + ' / ', projects_concept_development_path %>
				<%= link_to sub_menu_item('Mobiel', 'mobile'), projects_mobile_path %></li>
			</div>
			<%= manageable_content_for :body %>
		</div>
		<div id="globe-logo">
			<%= image_tag "logo500x500.png", alt: "dreamyourweb" %>
		</div>
	</div>
</div>
<div style="clear:both"></div>
