= page_title "Portfolio"
= header_for "Portfolio", "Kijk wat we hebben gemaakt voor andere klanten.", "orange"

.container#projects
  .row
    .two.columns.hide-for-small
      .sticky-side-nav{"data-magellan-expedition"=>'fixed'}
        %h5 Alle projecten
        %ul.side-nav
          - @projects.each do |project|
            %li{'data-magellan-arrival'=>project.title.parameterize}
              = link_to project.title, project_path(project)

        - if admin_signed_in?
          = link_to 'New Project', new_project_path, :class => "admin"
    .ten.columns
      %ul.block-grid.three-up.mobile-two-up
        = render :partial => "project", :collection => @projects
        %h6 ???
        %li
          .project-container.your-project
            .project-image
              = link_to contact_path do
                = image_tag("/assets/tablet-your.png")
            .project-description
              %h4= link_to("Jouw project", contact_path)