= header_for @project.title, "Project subheader", "orange"

.container#projects
  .row
    .three.columns.fixed-side-nav
      %h5 Andere projecten
      %ul.side-nav
        - @projects.each do |project|
          %li= link_to project.title, project_path(project)
      .panel.project-info
        %h5 
          Type project
        %ul
          %li= @project.project_type

        - if not @project.services.nil?
          %h5 Diensten
          %ul
            - @project.services.each do |service|
              - if not service.empty?
                %li= service
        - if not @project.tech.nil?
          %h5 Technieken
          %ul
            - @project.tech.each do |tech|
              - if not tech.empty?
                %li
                  = link_to @project.available_tech[tech.to_i][0], @project.available_tech[tech.to_i][1]

    .nine.columns
      .row
        .six.columns.move-to-front
          %h2= @project.vp
          %h3.subheader
            %small= @project.excerpt.html_safe
        .six.columns
          = image_tag @project.full_picture.to_s, class: "offcanvas-laptop"
      .row
        .twelve.columns.move-to-front.project-content
          - markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, {:fenced_code_blocks => true})
          = markdown.render(@project.body).html_safe

      .row
        .four.columns          
          - if admin_signed_in?
            = link_to 'Edit', RailsAdmin::Engine.routes.url_helpers.edit_path(model_name: :project, id: @project.id), class: "button"

