= header_for @project.title, "Project subheader", "orange"

.container#projects
  .row
    .three.columns.fixed-side-nav
      %h5 Andere projecten
      %ul.side-nav
        - @projects.each do |project|
          %li= link_to project.title, project_path(project)
      .panel.project-info
        %h5 
          Type project
        %ul
          %li= @project.project_type
        / %h5 Diensten
        / %ul
        /   %li Dienst 1
        /   %li Dienst 2
        / %h5 Technieken
        / %ul
        /   %li Techniek 1
        /   %li Techniek 2
        /   %li Techniek 3
        /   %li Techniek 4
        /   %li Techniek 5
        /   %li Techniek 6
    .nine.columns
      .row
        .twelve.columns
          %h2= @project.vp
          %h4.subheader
            %small= @project.body.html_safe
      .row
        .eight.columns
          #huge-project-image
            = image_tag @project.full_picture.to_s
        .four.columns          
          - if admin_signed_in?
            = link_to "Edit Project", edit_project_path(@project), :class => "bookman-link admin"


