= page_title "Algemene voorwaarden"
= header_for "Een eerlijke partnerschap", "Wij streven er altijd naar om zo eerlijk mogelijk te zijn.", "blue"


.container#terms-and-conditions
  .row
    .twelve.columns
      %h2 Algemene voorwaarden

  .row
    .eight.columns
      %h4 ICT~Office Voorwaarden
      %p Op al onze aanbiedingen en overeenkomsten zijn de ICT~Office Voorwaarden van toepassing, gedeponeerd bij de Kamer van Koophandel te Middel-Nederland onder nummer 30174840.
      = link_to "Download de Algemene voorwaarden (pdf)", "/algemene_voorwaarden.pdf"
      
      %h4 Ontwikkeling en hosting van websites
      %p Op opdrachten met betrekking tot ontwikkeling en hosting van websites zijn de volgende aansluitende modules van toepassing:
      = link_to "Download de module ontwikkeling en onderhoud websites (pdf)", "/Module_05_Ontwikkeling_en_onderhoud_van_een_website.pdf"
      = link_to "Download de module webhosting (pdf)", "/Module_06_Webhosting.pdf"
      
      %h4 Advisering, consultancy en projectmanagement
      %p Op opdrachten met betrekking tot advisering, consultancy en projectmanagement is de volgende aanvullende module van toepassing:
      = link_to "Download de module advisering, consultancy en projectmanagement (pdf)", "/Module_09_Advisering_consultancy_en_projectmanagement.pdf"