<div id="terms-and-conditions-content">
	<h3>Algemene voorwaarden</h3>	
	<br><p>Op al onze aanbiedingen en overeenkomsten zijn de ICT~Office Voorwaarden van toepassing, gedeponeerd bij de Kamer van Koophandel te Middel-Nederland onder nummer 30174840.<br> 
	<%= link_to "Download onze algemene voorwaarden (pdf)", "/algemene_voorwaarden.pdf" %></p><br>
	<p>Op opdrachten met betrekking tot ontwikkeling en hosting van websites zijn de volgende aansluitende modules van toepassing:<br>
	<%= link_to "Download de module ontwikkeling en onderhoud websites (pdf)", "/Module_05_Ontwikkeling_en_onderhoud_van_een_website.pdf" %><br>
	<%= link_to "Download de module webhosting (pdf)", "/Module_06_Webhosting.pdf" %></p><br>
<p>Op opdrachten met betrekking tot advisering, consultancy en projectmanagement is de volgende aanvullende module van toepassing:<br> 
	<%= link_to "Download de module advisering, consultancy en projectmanagement (pdf)", "/Module_09_Advisering_consultancy_en_projectmanagement.pdf" %></p><br>

<p>Bovenstaande documenten zijn te openen in Adobe Reader. Als u nog niet beschikt over Adobe Reader kunt u dit programma via onderstaande link gratis downloaden.<br>
	<%= link_to "Download gratis Adobe Reader", "http://get.adobe.com/nl/reader/" %></p>
</div>
