<p>Geschreven op: <%= comment.created_at.to_date %></p> 
<p>Door: <%= comment.name %></p>
<p><%= comment.body %></p>
<% if admin_signed_in? %>
	<p><%= comment.email %></p>
	<p><%= link_to 'Edit comment', edit_partner_post_comment_path(@partner, @post, comment) %> |
	<%= link_to 'Delete comment', partner_post_comment_path(@partner, @post, comment), confirm: "Are you sure?", method: :delete %></p>
<% end %>	
<hr>
