<div id="fb-root"></div>

<h3>Blog post</h3>
<hr class="small-line">
<div id="post-header">
	<div class="post-blog-photo inner-shadow lifted shadow-small">
		<%= link_to image_tag(@post.associate.avatar_url(:small).to_s, :alt => @post.associate.name, :title => @post.associate.name), associate_path(@post.associate) %>
	</div>
	<div id="post-info">
  	  			<h1><%= link_to(@post.title, associate_post_path(@post.associate, @post), :class => "post-title")%></h1>
				<p class="bookman">Geschreven door <%= link_to @post.associate.name, associate_path(@post.associate) %> op <%= @post.updated_at.to_date.to_s %></p>
	</div>
</div>
<div style="clear:both"></div>

<div id="post-body">
	<%#= @post.excerpt.html_safe %>
	<%#= @post.body.html_safe %>
	<%= blogpost_for(@post) %>
</div>

<hr>
	<%= link_to 'Neem contact op met de auteur', {:action => "index", :controller => "contact", :aan => build_mail_address(@associate.name), :subject => @post.title}, :class => "bookman-link left" %>
	<%= link_to "Ga terug", :back, :class => "bookman-link left" %>
<div style="clear:both"></div>
<% if admin_signed_in? %>
	<br><%= link_to 'Edit post', edit_associate_post_path(@associate, @post), :class => "bookman-link admin"%>
	<%= link_to 'Delete post', associate_post_path(@associate, @post), :class => "bookman-link admin", confirm: "Are you sure?", method: :delete %><br>
<% end %>
<div class="fb-like" data-href=<%=associate_post_url(@associate, @post)%> data-send="true" data-width="450" data-show-faces="true", :data-href></div>

<div id="comments-container">
	<h4>Commentaar</h4>
	<hr class="small-line">
	<%= render :partial => "comment", :collection => @comments, :spacer_template => "commentspacer" %>
</div>

<div id="postcomment-container">
	<h4 class="medium">Geef commentaar</h4>
	<hr class="small-line">
	<%= render 'comments/form' %>
</div>
