= page_title @post.title
= header_for "dreamyourweblog", "Waar we het hebben over alles wat ons interesseert", "purple"

.container#blog
  .row
    .eight.columns
      = render :partial => "blog/post", :collection => [@post]
      #post-facebook
        %h6 Vind ik leuk:
        <div class="fb-like" data-href=#{post_url(@post)} data-send="true" data-width="450" data-show-faces="true", :data-href></div>
      #comments-container.border-bottom
        = render :partial => "posts/comment", :collection => @comments
      #postcomment-container
        %h5 Reageer:
        = render 'comments/form'

    .four.columns
      = render :partial => "shared/blog_sidebar"