<div id="fb-root"></div>

<h3>Blog post</h3>
<hr class="small-line">
<div id="post-header">
	<div class="post-blog-photo inner-shadow lifted shadow-small">
		<%= link_to image_tag(@post.partner.avatar_url(:small).to_s, :alt => @post.partner.name, :title => @post.partner.name), partner_path(@post.partner) %>
	</div>
	<div id="post-info">
  	  			<h4><%= link_to(@post.title, partner_post_path(@post.partner, @post), :class => "post-title")%></h4>
				<p class="bookman">Geschreven door <%= link_to @post.partner.name, partner_path(@post.partner) %> op <%= @post.updated_at.to_date.to_s %></p>
	</div>
</div>
<div style="clear:both"></div>

<div id="post-body">
	<%= @post.excerpt.html_safe %>
	<%= @post.body.html_safe %>
</div>

<hr>
	<%= link_to 'Neem contact op met de auteur', {:action => "index", :controller => "contact", :to => build_mail_address(@partner.name), :subject => @post.title}, :class => "bookman-link left" %>
	<%= link_to "Ga terug", :back, :class => "bookman-link left" %>
<div style="clear:both"></div>
<% #if admin_signed_in? %>
	<br><%= link_to 'Edit post', edit_partner_post_path(@partner, @post), :class => "admin"%> | 
	<%= link_to 'Delete post', partner_post_path(@partner, @post), :class => "admin" confirm: "Are you sure?", method: :delete %><br>
<% #end %>
<br><div class="fb-like" data-href=<%=partner_post_url(@partner, @post)%> data-send="true" data-width="450" data-show-faces="true", :data-href></div>

<div id="comments-container">
	<h4>Commentaar</h4>
	<hr class="small-line">
	<%= render :partial => "comment", :collection => @comments, :spacer_template => "commentspacer" %>
</div>

<div id="postcomment-container">
	<h4 class="medium">Geef commentaar</h4>
	<hr class="small-line">
	<%= render 'comments/form' %>
</div>
