	<% if !post.associate.nil? %>
		<div class="post-container <% if post.draft? %>draft<% end %>">
			<div class="post-header">
			<div class="post-blog-photo inner-shadow lifted">
					<%= link_to image_tag(post.associate.avatar_url(:small).to_s, :alt => post.associate.name, :title => post.associate.name), associate_path(post.associate) %>
			</div>
			<div id="post-info">
  	  			<h4><%= link_to(post.title, associate_post_path(post.associate, post), :class => "post-title")%></h4>
				<p class="bookman">Geschreven door <%= link_to post.associate.name, associate_path(post.associate) %> op <%= post.updated_at.to_date.to_s %></p>
			</div>
		</div>
		<div id="post-excerpt">
	  		<p><%= post.excerpt.html_safe %><br>
					<%= link_to "Lees verder", associate_post_path(post.associate, post), :class => "bookman-link" %>
			</p>
			<div class="admin">
			<% if admin_signed_in? %>
  	  			<br class="admin"><%= link_to 'Edit', edit_associate_post_path(post.associate, post), :class => "bookman-link admin" %>  
				<%= link_to 'Destroy', associate_post_path(post.associate, post), confirm: 'Are you sure?', method: :delete, :class => "bookman-link admin" %>
			<% end %>
			</div>
		</div>			
		</div>
		<hr>
	<% end %>
