= header_for "dreamyourweblog", "Waar we het hebben over alles wat ons interesseert", "purple"

.container#blog
  .row
    .eight.columns

      - if !params[:tag].nil?
        %h1.subheader Tag: #{params[:tag]}
      - if !params[:name].nil?
        %h1.subheader #{params[:name]}

      = render :partial => "post", :collection => @posts
      = paginate @posts

    .four.columns
      = render :partial => "shared/blog_sidebar"
