= header_for "dreamyourweblog", "Waar we het hebben over alles wat on interesseert", "purple"

.container#blog
  .row
    .eight.columns
      = render :partial => "post", :collection => @posts
      = paginate @posts

    .four.columns
      %p= link_to "Geef alle artikelen weer", blog_path, :class => "bookman-link"
      %hr
        %h5 Selecteer op schrijver:
        #associate-selection
          - @associates.each do |associate|
            .selection-picture.inner-shadow.lifted.shadow-small
              = link_to image_tag(associate.avatar_url(:thumb).to_s, :alt => associate.name, :title => associate.name), associate_posts_path(associate)
        %div{:style => "clear:both"}
        %hr
          %h5 Selecteer op onderwerp:
          #tagcloud
            - tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class|
              = link_to tag.name, {:controller => :blog, :action => :index, :tag => tag.name }, :class => css_class
            %div{:style => "clear:both"}
          %hr

