= header_for "Over ons", "Ontdek hier of onze ambitie bij je project aansluit", "red"

.container#associates
  .row
    .two.columns.hide-for-small#barServices
      .sticky-side-nav{"data-magellan-expedition"=>'fixed'}
        %h5 Over ons
        %ul.side-nav
          %li{'data-magellan-arrival'=>'dreamteam'}= link_to "Het dreamteam", "#dreamteam"
          %li{'data-magellan-arrival'=>'kennis'}= link_to "Kennis maken?", "#kennis"

    .ten.columns
      .border-bottom#dreamteam{'data-magellan-destination'=>'dreamteam'}
        .row
          .twelve.columns
            %h2 Ons team
            %h2.subheader 
              %small Wij zijn 5 wetenschappers met verschillende specialisaties en een gezamenlijke passie voor mooie dingen maken!
            %p Onze slogan zegt genoeg: "You dream it, together we realize it". Wij werken samen met organisaties om innovatieve producten op te leveren. Daarbij zijn onze specialisaties natuurlijk cruciaal. De specialisaties binnen ons team reiken van interactie design tot machine learning en van big data tot business model validatie.
            %ul.block-grid.five-up.mobile-three-up#head-shots
              - @associates.each do |associate|
                %li.associate-container
                  %h6.job-title= associate.job_title
                  = link_to associate_path(associate) do
                    = image_tag associate.avatar_url(:medium).to_s
                    %h6.name= associate.name

      .border-bottom#kennis{'data-magellan-destination'=>'kennis'}
        .row
          .twelve.columns
            %h2 Wij maken graag kennis met je!
            %h2.subheader 
              %small Kom vooral eens langs op ons kantoor voor een kop koffie!