= page_title "#{@associate.name}"
= header_for "#{@associate.name}", @associate.job_title, "red"#, @associate.avatar_url(:polaroid)

.container#associates
  .row
    .nine.columns
      %h2 #{@associate.uvp}
      .row

        .four.columns.push-eight
          = image_tag @associate.avatar_url(:large)

        .eight.columns.pull-four
          = @associate.biography.html_safe
          - if admin_signed_in?
            = link_to 'Edit', RailsAdmin::Engine.routes.url_helpers.edit_path(model_name: :associate, id: @associate.id), class: "button"
            = link_to 'Bekijk blog posts', {:controller => :blog, :action => :index, :name => @associate.name}, class: "button"
            = mail_to "Contact", build_mail_address(@associate.name), :class => "button"
        
    .three.columns
      %h5 De dreamyourwebbers
      %ul.block-grid.three-up
        - @associates.each do |associate|
          %li
            = link_to associate_path(associate) do
              = image_tag associate.avatar_url(:medium).to_s
      