<div id="associate-content">

	<h3>Biografie van <%= @associate.name %></h3>
	<hr class="small-line">
	<div id="associate-photo">
		<%= image_tag @associate.avatar_url(:polaroid).to_s %>
	</div>

	<%= @associate.biography.html_safe %>

	<ul>
		<li>
			  <%= link_to 'Bekijk blog', associate_posts_path(@associate), :class => "bookman-link" %>
		</li>
		<li>
				<%= link_to "Contact", {:action => "index", :controller => "contact", :aan => build_mail_address(@associate.name)}, :class => "bookman-link" %>
		</li>
	</ul>
	<div style="clear:both"></div>
</div>

<%#if admin_signed_in? %>
	<br><%= link_to 'Edit associate', edit_associate_path(@associate), :class => "bookman-link admin" %>
<% #end %>

<%= link_to 'Terug', about_path, :class => "bookman-link" %>
