= header_for "De dreamyourweb flow", "We werken met een efficient lean proces.", "green"

.container#flow
  .row
    .two.columns.hide-for-small#barServices
      .sticky-side-nav{"data-magellan-expedition"=>'fixed'}
        %h5 Flow
        %ul.side-nav
          %li{'data-magellan-arrival'=>'idea'}= link_to "Jouw idee", "#anchor-idea"
          %li{'data-magellan-arrival'=>'core-idea'}= link_to "Kern idee", "#anchor-core-idea"
          %li{'data-magellan-arrival'=>'validation'}= link_to "Validatie", "#anchor-validation"
          %li{'data-magellan-arrival'=>'core-product'}= link_to "Kern product", "#anchor-core-product"
          %li{'data-magellan-arrival'=>'optimalization'}= link_to "Optimalisatie", "#anchor-optimalization"

    .ten.columns
      .row
        .twelve.columns
          %h2 dreamyourweb proces flow
          %h2.subheader
            %small Van idee tot geweldig product. Dat is wat onze lean en agile aanpak mogelijk maakt. Door te beginnen bij de kern en zoveel mogelijk te meten en valideren kunnen we jouw idee tot een succes maken.

      .border-bottom.arrow-border
        .row#anchor-idea{'data-magellan-destination'=>'idea'}
          .six.columns#idea.push-six
            = image_tag "flow-idea.png"
          .six.columns.pull-six
            %h3
              %span.blue Jouw
              Idee
            = mercury_content_for :flow_jouw_idee_body


      .border-bottom.arrow-border
        .row#anchor-core-idea{'data-magellan-destination'=>'core-idea'}
          .six.columns#core-idea
            = image_tag "flow-core-idea.png"
          .six.columns
            %h3
              Kern van het
              %span.blue Idee
            = mercury_content_for :flow_kern_van_het_idee_body

      .border-bottom.arrow-border
        .row#anchor-validation{'data-magellan-destination'=>'validation'}
          .six.columns#validation.push-six
            = image_tag "flow-validation.png"
          .six.columns.pull-six
            %h3 Validatie
            = mercury_content_for :flow_validatie_body

      .border-bottom.arrow-border
        .row#anchor-core-product{'data-magellan-destination'=>'core-product'}
          .six.columns#core-product
            = image_tag "flow-core-product.png"
          .six.columns
            %h3
              Kern
              %span.blue Product
            = mercury_content_for :flow_kern_product_body

      .row#anchor-optimalization{'data-magellan-destination'=>'optimalization'}
        .six.columns#optimalization.push-six
          = image_tag "flow-optimalization.png"
        .six.columns.pull-six
          %h3
            Optimalisatie
          = mercury_content_for :flow_optimlisatie_body