= header_for :diensten

.container#flow
  .row#clouds
    .twelve.columns
      %h1
        het dream<span class="blue">your</span>web proces

  .row
    .six.columns
      %h2
        %span.blue Jouw
        Idee
      = mercury_content_for :flow_jouw_idee_body
    .six.columns#idea
  .row.arrows

  .row
    .six.columns#core-idea
    .six.columns
      %h2
        Kern van het
        %span.blue Idee
      = mercury_content_for :flow_kern_van_het_idee_body
  .row.arrows

  .row
    .six.columns#validation
    .six.columns
      %h2 Validatie
      = mercury_content_for :flow_validatie_body
  .row.arrows

  .row
    .six.columns
      %h2
        Kern
        %span.blue Product
      = mercury_content_for :flow_kern_product_body
    .six.columns#core-product
  .row.arrows

  .row.bottom-row
    .six.columns#optimalization
    .six.columns
      %h2
        Optimalisatie
      = mercury_content_for :flow_optimlisatie_body