- content_for :strip do
  #strip-contact-sides.strip-wide
    #strip-proces-center.strip-center

#flow
  .row#clouds
    %h1
      het dream<span class="blue">your</span>web proces

  .row
    .left
      %h2
        %span.blue Jouw
        Idee
      = mercury_content_for :flow_jouw_idee_body
    .right#idea
  .row.arrows

  .row
    .left#core-idea
    .right
      %h2
        Kern van het
        %span.blue Idee
      = mercury_content_for :flow_kern_van_het_idee_body
  .row.arrows

  .row
    .right#validation
    .left
      %h2 Validatie
      = mercury_content_for :flow_validatie_body
  .row.arrows

  .row
    .right
      %h2
        Kern
        %span.blue Product
      = mercury_content_for :flow_kern_product_body
    .left#core-product
  .row.arrows

  .row.bottom-row
    .right#optimalization
    .left
      %h2
        Optimalisatie
      = mercury_content_for :flow_optimlisatie_body