= header_for "Slimmere technieken", "Ons proces is er op ingericht om technische innovaties te laten slagen", "green"

.container#products
  .row
    .two.columns.hide-for-small#barServices
      .sticky-side-nav{"data-magellan-expedition"=>'fixed'}
        %h5 Diensten
        %ul.side-nav
          %li{'data-magellan-arrival'=>'a'}= link_to "Ons kunnen", "#a"
          %li{'data-magellan-arrival'=>'b'}= link_to "Het proces", "#b"
          %li{'data-magellan-arrival'=>'c'}= link_to "Lean", "#c"
          
          %li{'data-magellan-arrival'=>'e'}= link_to "De technieken", "#e"

    .ten.columns

      #a.border-bottom{'data-magellan-destination'=>'a'}
        .row
          .twelve.columns
            %h2 Ons kunnen
            %h2.subheader
              %small We bieden drie lean producten die je droom helpen waarmaken.
        .row
          #innovation.service-text.four.columns
            .service-image.innovation
              %h4 Innovatie Consultancy
            %p Een nieuwe innovatie opzetten is nog vaak synoniem voor verdwalen. Verdwalen in ideeën, technische mogelijkheden of ingewikkelde planningen. Door alle bomen is het spreekwoordelijke bos al snel zoek. Geen wonder dat negen van de tien innovaties falen. Kan dat niet anders?
            %p Onzekerheid maakt al snel plaats voor inzicht, als er vanaf het eerste moment op gericht wordt om te leren. Leren over de gebruikers, welke behoeftes ze hebben en wat je daar precies aan kunt doen. Wij begeleiden in het proces van vallen, opstaan en bijsturen. Zo kun je de ellendige doodlopende paden vermeiden. Samen vinden we snel de juiste weg.
          #development.service-text.four.columns
            .service-image.development
              %h4 Software Ontwikkeling
            %p We zijn een groep jonge innovators die jouw idee tot een goed resultaat wil brengen. Een meedenkenkende en ontwikkelende partij, die zich niet laat verleiden tot het bouwen waarvan we denken dat nodig is, maar die juist bouwt wat er écht nodig is.
            %p Het ontwikkelproces begint bij ons daarom heel klein. Door eerst te beginnen met het strict noodzakelijke, kunnen we al snel en goedkoop testen of je idee in de praktijk ook werkt. We leren waar we moeten bijsturen en waar we goed zitten. Door al snel een proefversie te publiceren, voorkomen we dat er geld en energie wordt gestoken in dingen die misschien niet nodig zijn.
          #workshop.service-text.four.columns
            .service-image.workshop
              %h4 Lean Innovatie Workshops
            %p Deze lean en agile aanpak willen we niet alleen voor onszelf houden. We geven ook workshops over hoe je wegwijs wordt in de jungle van innovatieve mogelijkheden. We leren je hoe je met een leergierige instelling van een idee tot een werkend product komt. Dit doen we aan de hand van de techieken waar wij zelf ook dagelijks mee werken.
            %p Wij leren je bijvoorbeeld hoe je met behulp van een business canvas tot de kern van een idee komt, of hoe je lean en agile toepast in de praktijk. Kortom, hoe je jouw innovatie tot een succes kunt brengen.

      #b.border-bottom{'data-magellan-destination'=>'b'}
        .row
          .twelve.columns
            %h2 Ons gestroomlijnde proces
            %h2.subheader
              %small Al onze projecten worden lean en agile aangepakt.
        .row
          .twelve.columns
            %ul.block-grid.five-up.mobile-three-up.flow-circles
              %li
                =link_to flow_path(anchor: "anchor-idea") do
                  =image_tag("flow-circle-1.png")
                  %h6 Jouw idee
                  %p Kennismaken is bij ons altijd gratis en vrijblijvend
              %li
                =link_to flow_path(anchor: "anchor-core-idea") do
                  =image_tag("flow-circle-2.png")
                  %h6 Kern van het idee
                  %p Samen komen we tot de belangrijkste leer- en knelpunten
              %li
                =link_to flow_path(anchor: "anchor-validation") do
                  =image_tag("flow-circle-3.png")
                  %h6 Validatie
                  %p Nog voor het bouwen zoveel mogelijk leren
              %li
                =link_to flow_path(anchor: "anchor-core-product") do
                  =image_tag("flow-circle-4.png")
                  %h6 Kern product
                  %p Bouw de belangrijkste functionaliteit en kijk of het werkt
              %li
                =link_to flow_path(anchor: "anchor-optimalization") do
                  =image_tag("flow-circle-5.png")
                  %h6 Optimalisatie
                  %p Bijsturen op in de praktijk geleerde lessen
        .row
          .twelve.columns
            =link_to "Lees meer over onze flow", flow_path, class: "button"

      #c.border-bottom.section-lean{'data-magellan-destination'=>'c'}
        .row
          .twelve.columns
            %h2 Wat is lean innovation
            %h2.subheader
              %small De laatste lean-principes rechtstreeks uit Silicon Valley.

        .row
          .four.columns
            =image_tag("lean-development.png")
            %h3 Lean software development
            %h3.subheader
              %small Traditioneel wordt het bouwen van software vergeleken met het bouwen van een huis. Eerst de fundering, dan muren en op het laatst pas het dak. Waarom dat zo is, is ons nooit duidelijk geworden. Wij zien software is meer als klei. Eerst breng je de grove vormen aan, dan pas richt je op details. "Think big, act small, fail fast; learn rapidly".
          .eight.columns
            %i.foundicon-tools
              %h4 Voorkom verspilling
            %p Beter niet bouwen, dan het verkeerde bouwen. Alles wat geen meerwaarde voor de gebruiker heeft, blijft eruit. Dit zorgt voor een duidelijk product.  
            %i.foundicon-idea
              %h4 Versterk het leren
            %p Lanceer snel, en kijk dan waar de schoen wringt. Door snelle feedback kan er ook snel worden bijgestuurd.
            %i.foundicon-clock
              %h4 Beslis zo laat mogelijk
            %p Maak pas beslissingen als je de juiste kennis hebt vergaard. Zo weet je wat je moet gaan doen, in plaats van wat je had moeten doen.
            %i.foundicon-flag
              %h4 Lever zo snel mogelijk
            %p Softwareontwikkeling is net als evolutie. Wie zich het snelst aanpast, overleeft.
            %i.foundicon-star
              %h4 Activeer je team
            %p De juiste mensen met de juiste kennis. Wij hebben een platte bedrijfsstructuur. Iedereen heeft zijn eigen specialisatie, waardoor we elkaar goed aanvullen.
            %i.foundicon-lock
              %h4 Build integrity in
            %p Doordat we onze software test gedreven ontwikkelen, weten we of de verschillende onderdelen met elkaar samenwerken.
            %i.foundicon-globe
              %h4 Zie het geheel
            %p Technologie staat nooit op zich, maar is altijd een middel om een bepaald doel te bereiken. Door tijdens de ontwikkeling dit doel in het oog te houden, verliezen we geen focus.

      / #d.border-bottom{'data-magellan-destination'=>'d'}
      /   .row
      /     .twelve.columns
      /       %h2 Jouw project
      /       %h2.subheader
      /         %small Zo pakken we jouw project aan om een geweldig product neer te zetten.


      #e{'data-magellan-destination'=>'e'}
        .row
          .twelve.columns
            %h2 De technieken die we beheersen
            %h2.subheader
              %small Onze wizards zijn bekend met de recentste technieken.
        .row
          .four.columns
            %a{:href => "/products/tech"}
              %img{:src => "/assets/tech/techthumb.png"}/
          .eight.columns
            %p Bij dreamyourweb streven we er naar om het best mogelijke product voor onze klanten neer te zetten. Om dit mogelijk te maken, maken we gebruik van de krachtigste en modernste technieken. Zo leveren wij online applicaties die schaalbaar zijn naar ieders behoeften. Als je bedrijf groeit, groeit je applicatie met je mee.
            %p Bekijk onze technologie pagina voor een overzicht van de technologiën die wij gebruiken.
            =link_to "Technologie", "/products/tech", class: "button"
