<h3>Onze diensten</h3>
<hr class="small-line">
<div id="products-maincontent">
	<%= manageable_layout_content_for :body %><br>
</div>
<!-- <hr class="small-line"> -->

<div class="product-panel">
	<div class="product-panel-image cogs">
	<%= link_to "", web_consultancy_path %>
	</div>
</div>

<div class="product-panel">
	<div class="product-panel-image globe">
		<%= link_to "" , web_development_path %>
	</div>
</div>

<div class="product-panel">
	<div class="product-panel-image phone">
		<%= link_to "" , optimization_path %>
	</div>
</div>
<div style="clear:both"></div>
<hr>
	<%= link_to "Contact", {:action => "index", :controller => "contact", :to => "info@dreamyourweb.nl", :subject => "Diensten dreamyourweb"}, :class => "bookman-link left" %>
