<h3>Onze diensten</h3>
<hr class="small-line">
<div id="products-maincontent">
	<%= manageable_layout_content_for :body %><br>
</div>
<!-- <hr class="small-line"> -->
<div class="product-panel">
	<div class="product-panel-image cogs">
	<%= link_to "", products_concept_development_path %>
	</div>
	<div class="product-panel-content">
		<h4><%= link_to "Concept" , products_concept_development_path %></h4>
		<p><%= manageable_layout_content_for :concept_excerpt %></p>
		<div class="bookman-link lees-meer">
			<%= link_to "Lees meer", products_concept_development_path %>
		</div>
	</div>
	<div style="clear:both"></div>
</div>

<div class="product-panel">
	<div class="product-panel-image globe">
		<%= link_to "" , products_webdevelopment_path %>
	</div>
	<div class="product-panel-content">
		<h4><%= link_to "Web" , products_webdevelopment_path %></h4>
		<p><%= manageable_layout_content_for :web_excerpt %></p>
		<div class="bookman-link lees-meer">
			<%= link_to "Lees meer", products_webdevelopment_path %>
		</div>
	</div>
	<div style="clear:both"></div>
</div>

<div class="product-panel">
	<div class="product-panel-image phone">
		<%= link_to "" , products_mobile_path %>
	</div>
	<div class="product-panel-content">
		<h4><%= link_to "Mobiel" , products_mobile_path %></h4>
		<p><%= manageable_layout_content_for :mobile_excerpt %></p>
		<div class="bookman-link lees-meer">
			<%= link_to "Lees meer", products_mobile_path %>
		</div>
	</div>
	<div style="clear:both"></div>
</div>
<hr>
<div class="bookman-link left">
	<%= link_to "Contact", {:action => "index", :controller => "contact", :to => "info@dreamyourweb.nl", :subject => "Diensten dreamyourweb"} %>
</div>
