<h3>Onze diensten</h3>
<hr class="small-line">
<div id="products-maincontent">
	<%= manageable_layout_content_for :body %><br>
</div>

<div class="product-sub-nav">
	<div class="product-panel">
		<div class="product-panel-image globe">
		<%= link_to "", web_consultancy_path %>
		</div>
		<%= link_to "Advies", web_consultancy_path, :class => "bookman-link" %>
	</div>

	<div class="product-arrow">></div>

	<div class="product-panel">
		<div class="product-panel-image cogs">
			<%= link_to "" , web_development_path %>
		</div>
		<%= link_to "Ontwikkeling", web_development_path, :class => "bookman-link" %>
	</div>

	<div class="product-arrow">></div>

	<div class="product-panel">
		<div class="product-panel-image phone">
			<%= link_to "" , optimization_path %>
		</div>
		<%= link_to "Optimalisatie", optimization_path, :class => "bookman-link" %>
	</div>
</div>
<div style="clear:both"></div>
<hr>
	<%= link_to "Contact", {:action => "index", :controller => "contact", :to => "info@dreamyourweb.nl", :subject => "Diensten dreamyourweb"}, :class => "bookman-link left" %>
