<h2>Technologien</h2>
<hr class="big-line">

<div class="tech-container">
	<div class="tech-image">
		<div class="image_container">
	 		<%= link_to image_tag("tech/RoR.png"), "http://rubyonrails.org/" %>
	 		<%#= link_to "LEES MEER", "", :class => "image_overlay bookman" %>
		</div>

	</div>
	<div class="tech-description">
		<h4><%= link_to("Ruby on Rails", "http://rubyonrails.org/")%></h4>
		<div class="excerpt-container bookman">
  			<p>Ruby on Rails is een webapplicate raamwerk die ons in staat stelt om praktische applicaties te ontwikkelen met minder code en minder configuratie dan andere raamwerken.</p>
		</div>
	</div> 
</div>

<div class="tech-container">
	<div class="tech-image ">
		<div class="image_container">
	 		<%= link_to image_tag("tech/html5.png"), "http://www.w3.org/TR/html5/" %>
	 		<%#= link_to "LEES MEER", "", :class => "image_overlay bookman" %>
		</div>

	</div>
	<div class="tech-description">
		<h4><%= link_to("HTML5", "http://www.w3.org/TR/html5/")%></h4>
		<div class="excerpt-container bookman">
  			<p>HTML5 is de nieuwste HTML standaard. Hoewel HTML5 nog niet helemaal af is ondersteunen alle modernde browsers een groot deel van de nieuwe functionaliteit die HTML5 brengt.</p>
		</div>
	</div> 
</div>

<div class="tech-container">
	<div class="tech-image ">
		<div class="image_container">
	 		<%= link_to image_tag("tech/css3.png"), "http://www.w3.org/TR/CSS/" %>
	 		<%#= link_to "LEES MEER", "", :class => "image_overlay bookman" %>
		</div>

	</div>
	<div class="tech-description">
		<h4><%= link_to("CSS3", "http://www.w3.org/TR/CSS/")%></h4>
		<div class="excerpt-container bookman">
  			<p>Cascading style sheets worden gebruikt om de opmaak van webpaginas in de puntjes te verzorgen. De laatste versie voegt vele nieuwe mogelijkheden toe om het web nog mooier en interactiever te maken.</p>
		</div>
	</div> 
</div>

<div class="tech-container">
	<div class="tech-image">
		<div class="image_container">
	 		<%= link_to image_tag("tech/jquery.png"), "http://jquery.com/" %>
	 		<%#= link_to "LEES MEER", "", :class => "image_overlay bookman" %>
		</div>

	</div>
	<div class="tech-description">
		<h4><%= link_to("jQuery", "http://jquery.com/")%></h4>
		<div class="excerpt-container bookman">
  			<p>Deze lichtgewicht JavaScript bibliotheek maakt het mogelijk om eenvoudig dynamische en interactieve webapplicaties te maken (ook bekend als AJAX).</p>
		</div>
	</div> 
</div>

<div class="tech-container">
	<div class="tech-image">
		<div class="image_container">
	 		<%= link_to image_tag("tech/mercury.png"), "http://jejacks0n.github.com/mercury/" %>
	 		<%#= link_to "LEES MEER", "", :class => "image_overlay bookman" %>
		</div>

	</div>
	<div class="tech-description">
		<h4><%= link_to("Mercury editor", "http://jejacks0n.github.com/mercury/")%></h4>
		<div class="excerpt-container bookman">
  			<p>Mercury editor is een revolutionaire WYSIWYG (What you see is what you get) editor voor webpaginas. Simpel weg klikken op de text die je wilt aanpassen maakt het kinderlijk eenvoudig om zelf de inhoud van je webapplicatie aan te passen.</p>
		</div>
	</div> 
</div>

<div class="tech-container">
	<div class="tech-image">
		<div class="image_container">
	 		<%= link_to image_tag("tech/svg.png"), "http://www.w3.org/Graphics/SVG/" %>
	 		<%#= link_to "LEES MEER", "", :class => "image_overlay bookman" %>
		</div>

	</div>
	<div class="tech-description">
		<h4><%= link_to("Scalable vector graphics", "http://www.w3.org/Graphics/SVG/")%></h4>
		<div class="excerpt-container bookman">
  			<p>In een tijd waar Adobe Flash op steeds minder producten wordt ondersteund is het nodig om modernere methoden te gebruiken voor hoogwaardige interactieve graphics. SVG in combinatie met JavaScript geeft ons de gereedschappen om dit te bereiken.</p>
		</div>
	</div> 
</div>

<div class="tech-container">
	<div class="tech-image">
		<div class="image_container">
	 		<%= link_to image_tag("tech/heroku.png"), "http://www.heroku.com/" %>
	 		<%#= link_to "LEES MEER", "", :class => "image_overlay bookman" %>
		</div>

	</div>
	<div class="tech-description">
		<h4><%= link_to("Heroku", "http://www.heroku.com/")%></h4>
		<div class="excerpt-container bookman">
  			<p>Met deze cloudhosting provider voor Ruby on Rails applicaties kunnen wij razend snel onze webapplicaties opzetten en toegankelijk maken voor het wereld wijde web. Aanpassingen in de code kunnen binnen enkele minuten online worden gezet.</p>
		</div>
	</div> 
</div>

<div class="tech-container">
	<div class="tech-image">
		<div class="image_container">
	 		<%= link_to image_tag("tech/aws.png"), "http://aws.amazon.com/" %>
	 		<%#= link_to "LEES MEER", "", :class => "image_overlay bookman" %>
		</div>

	</div>
	<div class="tech-description">
		<h4><%= link_to("Amazon web services", "http://aws.amazon.com/")%></h4>
		<div class="excerpt-container bookman">
  			<p>Amazon web services biedt een groot scala aan hoogwaardige cloud oplossingen aan. Voor het snel serveren van media maken bijvoorbeeld gebruik van de Amazon Simple Storage Service.</p>
		</div>
	</div> 
</div>

<div class="tech-container">
	<div class="tech-image">
		<div class="image_container">
	 		<%= link_to image_tag("tech/cucumber.png"), "http://cukes.info/" %>
	 		<%#= link_to "LEES MEER", "", :class => "image_overlay bookman" %>
		</div>

	</div>
	<div class="tech-description">
		<h4><%= link_to("Cucumber", "http://cukes.info/") %></h4>
		<div class="excerpt-container bookman">
  			<p>Bij dreamyourweb streven we naar het ontwikkelen op basis van features. Cucumber, een integratie test suite, geeft ons de mogelijkheid om eerst scenarios op te stellen die door Cucmber worden getest. Zodra de applicatie de scenarios succesvol doorloopt weten we dat een feature werkt naar behoren.</p>
		</div>
	</div> 
</div>

<div class="tech-container">
	<div class="tech-image">
		<div class="image_container">
	 		<%= link_to image_tag("tech/railsonfire.png"), "http://www.railsonfire.com/" %>
	 		<%#= link_to "LEES MEER", "", :class => "image_overlay bookman" %>
		</div>

	</div>
	<div class="tech-description">
		<h4><%= link_to("Railsonfire", "http://www.railsonfire.com/") %></h4>
		<div class="excerpt-container bookman">
  			<p>Railsonfire geeft ons de mogelijkheid om bij elke aanpassing automatisch de applicatie te testen alvorens de nieuwe code in productie te nemen. Alleen als alle test succesvol worden doorlopen zullen de aanpassingen zichtbaar worden. Dit garandeerd dat de applicatie blijft werken als wij een foutje maken.</p>
		</div>
	</div> 
</div>



<div style="clear:both"><hr></div>