<h2>Technologien</h2>
<hr class="big-line">

<div class="tech-container">
	<div class="tech-image">
		<div class="image_container">
	 		<%= link_to image_tag("tech/RoR.png"), "http://rubyonrails.org/" %>
	 		<%#= link_to "LEES MEER", "", :class => "image_overlay bookman" %>
		</div>

	</div>
	<div class="tech-description">
		<h4><%= link_to("Ruby on Rails", "http://rubyonrails.org/")%></h4>
		<div class="excerpt-container bookman">
			<%= content_for(:ror) %>
		</div>
	</div> 
</div>

<div class="tech-container">
	<div class="tech-image ">
		<div class="image_container">
	 		<%= link_to image_tag("tech/html5.png"), "http://www.w3.org/TR/html5/" %>
	 		<%#= link_to "LEES MEER", "", :class => "image_overlay bookman" %>
		</div>

	</div>
	<div class="tech-description">
		<h4><%= link_to("HTML5", "http://www.w3.org/TR/html5/")%></h4>
		<div class="excerpt-container bookman">
			<%= content_for(:html5) %>
		</div>
	</div> 
</div>

<div class="tech-container">
	<div class="tech-image ">
		<div class="image_container">
	 		<%= link_to image_tag("tech/css3.png"), "http://www.w3.org/TR/CSS/" %>
	 		<%#= link_to "LEES MEER", "", :class => "image_overlay bookman" %>
		</div>

	</div>
	<div class="tech-description">
		<h4><%= link_to("CSS3", "http://www.w3.org/TR/CSS/")%></h4>
		<div class="excerpt-container bookman">
			<%= content_for(:css3) %>
		</div>
	</div> 
</div>

<div class="tech-container">
	<div class="tech-image ">
		<div class="image_container">
	 		<%= link_to image_tag("tech/ios5.png"), "http://www.apple.com/nl/ios/" %>
	 		<%#= link_to "LEES MEER", "", :class => "image_overlay bookman" %>
		</div>

	</div>
	<div class="tech-description">
		<h4><%= link_to("iOS 5", "http://www.apple.com/nl/ios/")%></h4>
		<div class="excerpt-container bookman">
			<%= content_for(:ios5) %>
		</div>
	</div> 
</div>

<div class="tech-container">
	<div class="tech-image">
		<div class="image_container">
	 		<%= link_to image_tag("tech/jquery.png"), "http://jquery.com/" %>
	 		<%#= link_to "LEES MEER", "", :class => "image_overlay bookman" %>
		</div>

	</div>
	<div class="tech-description">
		<h4><%= link_to("jQuery", "http://jquery.com/")%></h4>
		<div class="excerpt-container bookman">
			<%= content_for(:jquery) %>
		</div>
	</div> 
</div>

<div class="tech-container">
	<div class="tech-image">
		<div class="image_container">
	 		<%= link_to image_tag("tech/mailchimp.png"), "http://mailchimp.com" %>
	 		<%#= link_to "LEES MEER", "", :class => "image_overlay bookman" %>
		</div>

	</div>
	<div class="tech-description">
		<h4><%= link_to("MailChimp", "http://mailchimp.com")%></h4>
		<div class="excerpt-container bookman">
			<%= content_for(:mailchimp) %>
		</div>
	</div> 
</div>

<div class="tech-container">
	<div class="tech-image">
		<div class="image_container">
	 		<%= link_to image_tag("tech/mercury.png"), "http://jejacks0n.github.com/mercury/" %>
	 		<%#= link_to "LEES MEER", "", :class => "image_overlay bookman" %>
		</div>

	</div>
	<div class="tech-description">
		<h4><%= link_to("Mercury editor", "http://jejacks0n.github.com/mercury/")%></h4>
		<div class="excerpt-container bookman">
			<%= content_for(:mercury) %>
		</div>
	</div> 
</div>

<div class="tech-container">
	<div class="tech-image">
		<div class="image_container">
	 		<%= link_to image_tag("tech/svg.png"), "http://www.w3.org/Graphics/SVG/" %>
	 		<%#= link_to "LEES MEER", "", :class => "image_overlay bookman" %>
		</div>

	</div>
	<div class="tech-description">
		<h4><%= link_to("Scalable vector graphics", "http://www.w3.org/Graphics/SVG/")%></h4>
		<div class="excerpt-container bookman">
			<%= content_for(:svg) %>
		</div>
	</div> 
</div>

<div class="tech-container">
	<div class="tech-image">
		<div class="image_container">
	 		<%= link_to image_tag("tech/heroku.png"), "http://www.heroku.com/" %>
	 		<%#= link_to "LEES MEER", "", :class => "image_overlay bookman" %>
		</div>

	</div>
	<div class="tech-description">
		<h4><%= link_to("Heroku", "http://www.heroku.com/")%></h4>
		<div class="excerpt-container bookman">
			<%= content_for(:heroku) %>
		</div>
	</div> 
</div>

<div class="tech-container">
	<div class="tech-image">
		<div class="image_container">
	 		<%= link_to image_tag("tech/aws.png"), "http://aws.amazon.com/" %>
	 		<%#= link_to "LEES MEER", "", :class => "image_overlay bookman" %>
		</div>

	</div>
	<div class="tech-description">
		<h4><%= link_to("Amazon web services", "http://aws.amazon.com/")%></h4>
		<div class="excerpt-container bookman">
			<%= content_for(:aws) %>
		</div>
	</div> 
</div>

<div class="tech-container">
	<div class="tech-image">
		<div class="image_container">
	 		<%= link_to image_tag("tech/cucumber.png"), "http://cukes.info/" %>
	 		<%#= link_to "LEES MEER", "", :class => "image_overlay bookman" %>
		</div>

	</div>
	<div class="tech-description">
		<h4><%= link_to("Cucumber", "http://cukes.info/") %></h4>
		<div class="excerpt-container bookman">
			<%= content_for(:cucumber) %>
		</div>
	</div> 
</div>

<div class="tech-container">
	<div class="tech-image">
		<div class="image_container">
	 		<%= link_to image_tag("tech/railsonfire.png"), "http://www.railsonfire.com/" %>
	 		<%#= link_to "LEES MEER", "", :class => "image_overlay bookman" %>
		</div>

	</div>
	<div class="tech-description">
		<h4><%= link_to("Railsonfire", "http://www.railsonfire.com/") %></h4>
		<div class="excerpt-container bookman">
			<%= content_for(:railsonfire) %>
		</div>
	</div> 
</div>

<div class="tech-container">
	<div class="tech-image">
		<div class="image_container">
	 		<%= link_to image_tag("tech/facebook.png"), "http://developers.facebook.com/" %>
	 		<%#= link_to "LEES MEER", "", :class => "image_overlay bookman" %>
		</div>

	</div>
	<div class="tech-description">
		<h4><%= link_to("Facebook applicaties", "http://developers.facebook.com/") %></h4>
		<div class="excerpt-container bookman">
			<%= content_for(:facebook) %>
		</div>
	</div> 
</div>



<div style="clear:both"><hr></div>