.footer-shadow
.row.footer-content
  .four.columns#footer-contact

    .row
      .two.columns
        %i.general.foundicon-phone
      .ten.columns
        %p
          Wil je kletsen?
          %br
          %strong 
            Bel +31 (0)24 3010100 of via 
            =link_to "Skype", "skype:info-dyw?call"

    .row
      .two.columns
        %i.general.foundicon-mail
      .ten.columns
        %p
          Mail je liever?
          %br
          %strong Mail naar #{mail_to "info@dreamyourweb.nl"}
    
  .four.columns#footer-social
    %h5.subheader Meer dreamyourweb
    = render :partial => "/shared/social"

  / .four.columns#footer-more
  /   %h4 Meer info
  /   %span#contact-button= link_to "", contact_path(:aan => "info@dreamyourweb.nl")
  /   = link_to image_tag("wbso-stamp.png"), "http://www.agentschapnl.nl/nl/node/100392"
  .four.columns#footer-mailchimp

    #mc_embed_signup
      %form#mc-embedded-subscribe-form.validate{:action => "http://dreamyourweb.us6.list-manage1.com/subscribe/post?u=3082661f66553b5c2e92c8f6e&amp;id=d984878ae8", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
        %h5.subheader Nieuwsbrief
        %input#mce-EMAIL.required.email{:name => "EMAIL", :type => "email", :value => "", :placeholder => "Email"}
        #mce-responses.clear
          #mce-error-response.response{:style => "display:none"}
          #mce-success-response.response{:style => "display:none"}
        .clear
          %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "Schrijf je in!", :class => "button"}

.footer-links-container
  .row.footer-content
    .twelve.columns
      %p.footer-links
        = link_to("Data analyse", data_analysis_path) + " - "
        = link_to("Data visualisatie", data_visualization_path) + " - "
        = link_to("Machine learning", machine_learning_path) + " - "
        = link_to("Ruby on Rails webdevelopment", ruby_on_rails_path) + " - "
        = link_to("Custom survey apps", survey_app_path) + " - "
        = link_to("Lean management", lean_management_path)

#footer-bottom
  .row
    .twelve.columns
      © 2012 dreamyourweb V.O.F. - Alle rechten voorbehouden -
      = link_to "Disclaimer - ", disclaimer_path
      = link_to "Algemene Voorwaarden", terms_and_conditions_path