<header>
<div id="header">

<div id="header-content">

<nav>
	<h1 id='header-logo'>
		<%= link_to('dreamyourweb', root_path, :id => "header-logo-link") %>
	</h1>
</nav>

<div id="header-menu">
  	<nav id="header-menu-nav">
  		<ul>
		  	<li>
				<%= link_to(home_path, :class => controller_active?('home').to_s + " home") do %>
				<% end %>
			</li>
		 	 <li>
				<%= link_to(products_path, :class => controller_active?('products').to_s + " products") do %>
				<% end %>
			</li>
		 	 <li>
				<%= link_to(projects_path, :class => controller_active?('projects').to_s + " portfolio") do %>
				<% end %>
			</li>
		  	<li>
				<%= link_to(about_path, :class => controller_active?('about').to_s + " about") do %>
				<% end %>
			</li>
		 	 <li>
				<%= link_to(blog_path, :class => controller_active?('blog').to_s + " blog") do %>
				<% end %>
			</li>
		 	 <li>
				<%= link_to(contact_path, :class => controller_active?('contact').to_s + " contact") do %>
				<% end %>
			</li>
 		</ul>
	</nav>
</div>

<div id="clearfix"></div>

</div>

</div>
</header>

<% if admin_signed_in? %>
	<div id="admin-nav">
		<h3>
  			<%= link_to 'Admin', admin_pages_path %> /
		  	<%= link_to 'Logout', logout_path %>
		</h3>
		<%= link_to "Edit", "/editor" + request.path %>
	</div>
<% end %>
