<header id="header">

<div class="content">

<nav>
	<h1 id='header-logo'>
		<%= link_to('dreamyourweb', root_path) %>
	</h1>
</nav>

<div id="header-menu">
  <nav>
  <ul>
  <li>
		<%= link_to(home_path, :class => controller_active?('home').to_s) do %>
				<%= image_tag("menu_home.png") %>
		<% end %>
	</li>
  <li>
		<%= link_to(projects_path, :class => controller_active?('projects').to_s) do %>
				<%= image_tag("menu_portfolio.png") %>
		<% end %>
	</li>
  <li>
		<%= link_to(partners_path, :class => controller_active?('partners').to_s) do %>
				<%= image_tag("menu_about.png") %>
		<% end %>
	</li>
  <li>
		<%= link_to(blog_path, :class => controller_active?('blog').to_s) do %>
				<%= image_tag("menu_blog.png") %>
		<% end %>
	</li>
  <li>
		<%= link_to(contact_path, :class => controller_active?('contact').to_s) do %>
				<%= image_tag("menu_contact.png") %>
		<% end %>
	</li>
  </ul>
  </nav>
</div>

<div id="clearfix"></div>

</div>

</header>

<% if admin_signed_in? %>
	<div id="admin-nav">
		<h3>
  	<%= link_to 'Admin', admin_pages_path %> /
  	<%= link_to 'Logout', logout_path %>
		</h3>
	</div>
<% end %>

