<header id="header">

<div class="content">

<div id="header-logo">
<%= image_tag "dreamyourweb_100x300.png", alt: "dreamyourweb" %>
</div>
<div id="header-slogan">
<%= image_tag "slogan50x400.png", alt: "design&development" %>
</div>

<div id="clearfix"></div>
<div id="header-menu">
  <nav>
  <ul>
  <li><%= link_to menu_item('Home', 'home') + ' / ', home_path %></li>
  <li><%= link_to menu_item('Portfolio', 'projects') + ' / ', projects_path %></li>
  <li><%= link_to menu_item('About', 'partners') + ' / ', partners_path %></li>
  <li><%= link_to menu_item('Blog', 'blog') + ' / ', blog_path %></li>
  <li><%= link_to menu_item('Contact', 'contact'), contact_path %></li>
	<% if admin_signed_in? %>
	  <li><%= link_to ' / ' + menu_item('Admin', 'admin/pages') + ' / ', admin_pages_path %></li>
	  <li><%= link_to menu_item('Logout', 'logout'), logout_path %></li>
	<% end %>
  </ul>
  </nav>
</div>

</div>

</header>

