<header id="header">

<div class="content">

<div id="header-logo">
<%= image_tag "dywlogo_100x300.png", alt: "dreamyourweb" %>
</div>

<div id="header-menu">
  <nav>
  <ul>
  <li><%= link_to menu_item('Home', 'home'), home_path, :class => controller_active?('home').to_s %> / </li>
  <li><%= link_to menu_item('Portfolio', 'projects'), projects_path, :class => controller_active?('projects').to_s %> / </li>
  <li><%= link_to menu_item('About', 'partners'), partners_path, :class => controller_active?('partners').to_s %> / </li>
  <li><%= link_to menu_item('Blog', 'blog'), blog_path, :class => controller_active?('blog').to_s %> / </li>
  <li><%= link_to menu_item('Contact', 'contact'), contact_path, :class => controller_active?('contact').to_s %></li>
	<% if admin_signed_in? %>
	  <li> / <%= link_to menu_item('Admin', 'admin/pages'), admin_pages_path, :class => controller_active?('admin/pages').to_s %> / </li>
	  <li><%= link_to menu_item('Logout', 'logout'), logout_path, :class => controller_active?('logout').to_s %></li>
	<% end %>
  </ul>
  </nav>
</div>

<div id="clearfix"></div>

</div>

</header>

