<header id="header">

<div class="content">

<nav>
	<h1 id='header-logo'>
		<%= link_to('dreamyourweb', root_path) %>
	</h1>
</nav>

<div id="header-menu">
  <nav>
  <ul>
  <li><p class="top-nav">Naar</p><%= link_to 'Home', home_path, :class => controller_active?('home').to_s %><p class="arrows"><%= arrows('home') %></p><p class="bottom-nav">aub</p></li>
  <li><%= link_to 'Portfolio', projects_path, :class => controller_active?('projects').to_s %> / </li>
  <li><%= link_to 'About', partners_path, :class => controller_active?('partners').to_s %> / </li>
  <li><%= link_to 'Blog', blog_path, :class => controller_active?('blog').to_s %> / </li>
  <li><%= link_to 'Contact', contact_path, :class => controller_active?('contact').to_s %></li>
	<% if admin_signed_in? %>
	  <li> / <%= link_to 'Admin', admin_pages_path, :class => controller_active?('admin/pages').to_s %> / </li>
	  <li><%= link_to 'Logout', logout_path, :class => controller_active?('logout').to_s %></li>
	<% end %>
  </ul>
  </nav>
</div>

<div id="clearfix"></div>

</div>

</header>

