.contain-to-grid
  %nav.top-bar.dyw-nav
    %ul
      %li.name
        %h1
          = link_to('dreamyourweb', root_path, :id => "header-logo-link")
      %li.toggle-topbar
        %a{:href => "#"}

    %section
      %ul.right
        %li
          = link_to("Home", home_path, :class => controller_active?('home').to_s + " home")
        %li
          = link_to("Proces", flow_path, :class => path_active?(flow_path).to_s + " flow")
        %li
          = link_to("Products", products_path, :class => path_active?(products_path).to_s + " products")
        %li
          = link_to("Portfolio", projects_path, :class => controller_active?('projects').to_s + " portfolio")
        %li
          = link_to("About", about_path, :class => controller_active?('about').to_s + " about")
        %li
          = link_to("Blog", blog_path, :class => controller_active?('blog').to_s + " blog")



