.contain-to-grid
  %nav.top-bar.dyw-nav
    %ul
      %li.name
        %h1
          = link_to('dreamyourweb', root_path, :id => "header-logo-link")
      %li.toggle-topbar
        %a{:href => "#"}

    %section
      %ul.right
        %li
          = link_to("Home", home_path, :class => controller_active?('home').to_s + " home")
        %li{:class => controller_active?('products')}
          = link_to("Diensten", products_path, :class => "products")
        %li{:class => controller_active?('projects')}
          = link_to("Portfolio", projects_path, :class => "portfolio")
        %li{:class => controller_active?('associates')}
          = link_to("Over ons", about_path, :class => controller_active?('about').to_s + " about")
        %li{:class => controller_active?('blog')}
          = link_to("Blog", blog_path, class: "blog")
        %li{:class => controller_active?('contact')}
          = link_to("Contact", contact_path, class: "blog")



