<div id="categories-strip">
	<nav id="categories-pictures-container">
		<ul>
		<li>
			<%= link_to(products_webdevelopment_path, :class => action_active?('webdevelopment').to_s, :id => "web") do %>
				<%= image_tag 'button_web.png' %>
			<% end %>
		</li>
		<li>
			<%= link_to(products_concept_development_path, :class => action_active?('concept_development').to_s, :id => "concept") do %>
				<%= image_tag 'button_concept.png' %>
			<% end %>
		</li>
		<li>
			<%= link_to(products_mobile_path, :class => action_active?('mobile').to_s, :id => "mobile") do %>
				<%= image_tag 'button_mobile.png' %>
			<% end %>
		</li>
		</ul>
	</nav>
</div>
<hr class="big-line">
