<!DOCTYPE html>
<html>
<head>
  <title>Dreamyourweb | Portfolio</title>
	<%= render 'layouts/head' %>
  <%= csrf_meta_tags %>
	<%= render 'layouts/analytics' %>
</head>
<body>
	<div id="root">
	<%= render 'layouts/header' %>

	<div style="clear:both"></div>

	<% flash.each do |key, value| %>
 		<%= content_tag(:div, value, :class => "site-flash #{key}") %>
	<% end %>
	
	<%= render "strip" %>

	<div class="content">
		<%= yield %>
	</div>

	<div style="clear:both"></div>
   	<div id="root_footer"></div>
	</div>
	</div>
	<%= render 'layouts/footer' %>
</body>
</html>
